section.al-container.contato{
    padding: 50px 0;
    .title{
        padding-bottom: 50px;
    }
    article{
        >p{
            color: #666666;
            font-weight: 400;
            font-style: italic;
            font-family: "Montserrat";
        }
        .form{
            position: relative;
            padding-bottom: 75px;
        }

    }
    .wpcf7-form{
        width: 100%;
        p{
            display: inline-block;
            width: calc(50% - 18px);
            &:nth-child(2n){
                margin-right: 30px;
            }
            @media (max-width: $sm) {
                width: 100%;
                margin-right: 0px !important;
            }
            input:not([type=submit]):not([type=checkbox]), select, textarea{
                width: 100%;
                border-radius: 5px;
                border: 1px solid #ff6b19;
                font-size: 18px;
                line-height: 24px;
                color: #666666;
                font-weight: 400;
                font-style: italic;
                font-family: "Montserrat";
                text-align: left;
                padding: 5px 10px;
                background: white;
                max-width: 100%;
            }
            select{
                outline: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                background-color: #fff;
                background-image: url("assets/images/seta.png");
                background-repeat: no-repeat, repeat;
                background-position: right 1em top 50%, 0 0;
                background-size: 0.65em auto, 100%;
                transition: all 0.3s ease-in-out;
                text-transform: inherit;
            }
            &:nth-child(8){
                .wpcf7-list-item{
                    margin-left: 0px;
                }
            }
			.button{
				cursor: pointer;
				left: 50%;
				transform: translateX(-50%);
				padding: 0;
				position: relative;
				color: white;
				background: $secondary-color;
				font-size: 24px;
				letter-spacing: 1px;
				line-height: 30px;
				font-weight: 300;
				font-family: "Ubuntu";
				text-align: right;
				border-radius: 20px;
				filter: drop-shadow(0px 6px 13.5px rgba(0,0,0,0.05));
				position: relative;
				border: 1px solid transparent;
				span.wpcf7-spinner {
					display: none;
				}
				&::before{
					content: "";
					width: 15px;
					height: 18px;
					background: url('assets/images/triangulo.webp');
					background-size: contain;
					display: inline-block;
					margin-right: 10px;
					position: absolute;
					top: 50% !important;
					transform: translateY(-50%);
					left: 66px;
				}
				&:hover{
					box-shadow: 0 0.5em 0.5em -0.35em $secondary-color;
					transform: translateY(-0.25em);
				}
				.ajax-loader{
					position: absolute;
					bottom: 45px;
					left: 30vw;
					background: #f8f8f8;
					&::before{
						content: url("assets/images/group.svg");
						left: 50%;
						top: 0;
						transform: translateX(-50%);
						background: #f8f8f8;
						width: 200px;
						height: 200px;
						border: none;
						border-radius: 0;
						transform-origin: 0;
						animation-name: none;
						animation-duration: 1000ms;
						animation-timing-function: linear;
						animation-iteration-count: infinite;
					}
				}
				&::before{
					position: absolute;
					top: calc(50% - 7px);
					left: 60px;
				}
			}
			input[type=submit]{
				font-size: 24px;
				color: white;
				font-weight: 300;
				font-family: "Ubuntu";
				text-transform: uppercase;
				outline: none;
				border: none;
				background: transparent;
				width: 100%;
				cursor: pointer;
				padding: 20px 66px 20px 80px;
				border-radius: 20px;
			}
            input[type=checkbox]{
                margin-right: 5px;
                width: 20px;
                height: 20px;
            }
            input[type=checkbox]+.wpcf7-list-item-label{
                vertical-align: text-bottom;
            }
        }
        .wpcf7-recaptcha{
            >div{
                margin-bottom: 30px;
            }
        }
    }
    #wpcf7-f367-p363-o1{
        p{
            &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9){
                margin-right: 0px;
                width: 100%;
            }
        }
    }
    #wpcf7-f368-p369-o1{
        position: relative;
        p{
            &:nth-child(12){
                margin-right: 0px;
                width: 100%;
            }
            &:nth-child(8), &:nth-child(9){
                display: none;
            }
        }
    }
}
