/* Footer
========================================================================== */
.fundo-footer{
	height: 450px;
	width: 100%;
}
footer.main-footer{
	&.novofooter{
		.bottom{
			padding: 85px 0px;
            background: #155642;
			.al-container{
				display: flex;
				justify-content: space-between;
				column-gap: 20px;
				row-gap: 22px;
				width: 76vw;
				@media screen and (max-width: 878px) {
					flex-wrap: wrap;
				}
			}
			.contain{
				width: 60%;
				@media screen and (max-width: 1440px) {
					zoom: 80%;
				}
				@media screen and (max-width: 878px) {
					width: 100%;
				}
                .direitos{
                    padding-top: 85px;
					display: flex;
					justify-content: right;
					flex-wrap: wrap;
                    p{
						width: 100%;
                        font-family: "Montserrat";
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0.1em;
                        text-align: right;
                        color: #FFFFFF;
                        padding-bottom: 14px;
                    }
                    a{
						width: 100%;
                        font-family: "Montserrat";
                        font-size: 12px;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 16px;
                        letter-spacing: 0.1em;
                        text-align: right;
                        color: #FFFFFF;
                        transition: all .3s;
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                }
				.menu{
					width: 100%;
					display: flex;
					column-gap: 22px;
					justify-content: space-between;
					flex-wrap: wrap;
					max-width: 100%;
					row-gap: 22px;
					>li{
						@media screen and (max-width: 420px) {
							width: 100%;
						}
					}
                    li{
                        font-family: "Montserrat";
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 32px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        color: #FFFFFF;
                        a{
                            font-family: "Montserrat";
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 32px;
                            letter-spacing: 0.1em;
                            text-align: left;
                            color: #FFFFFF;
                            transition: all .3s;
							white-space: nowrap;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        ul{
                            li{
								font-family: "Montserrat";
                                font-size: 12px;
                                font-weight: 300;
                                line-height: 22px;
                                letter-spacing: 0.1em;
                                text-align: left;
                                color: #FFFFFF;
								&.upper{
									font-family: "Montserrat";
									font-size: 16px;
									font-weight: 500;
									line-height: 32px;
									letter-spacing: 0.1em;
									text-align: left;
									color: #FFFFFF;
									transition: all .3s;
									white-space: nowrap;
									margin-top: 32px;
									a{
										font-family: "Montserrat";
										font-size: 16px;
										font-weight: 500;
										line-height: 32px;
										letter-spacing: 0.1em;
										text-align: left;
										color: #FFFFFF;
										transition: all .3s;
										white-space: nowrap;
									}
								}
                                a{
                                    font-family: "Montserrat";
                                    font-size: 12px;
                                    font-weight: 300;
                                    line-height: 22px;
                                    letter-spacing: 0.1em;
                                    text-align: left;
									white-space: nowrap;
                                    color: #FFFFFF;
                                }
                            }
                        }
                    }
				}
			}
			.left{
				width: 30%;
				padding: 0px;
				@media screen and (max-width: 878px) {
					width: 100%;
				}
				@media screen and (max-width: 1440px) {
					zoom: 80%;
				}
				background: transparent;
				.img{
					padding-bottom: 30px;
					max-width: 240px;
					margin: auto;
				}
                .localizacao{
                    font-family: "Montserrat";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.1em;
                    text-align: left;
					text-decoration: underline;
                    color: #FFFFFF;
                    transition: all .3s;
                    &:hover{
                        opacity: 0.7;
                    }
                }
                .inner{
                    height: 29px;
                    width: 100%;
                }
                .contato{
                    font-family: "Montserrat";
                    font-size: 16px;
                    font-weight: 400;
					text-decoration: underline;
                    line-height: 25px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    color: #FFFFFF;
                    transition: all .3s;
                    &:hover{
                        opacity: 0.7;
                    }
                }
                .links{
                    padding-bottom: 30px;
                    display: flex;
                    column-gap: 31px;
                    align-items: center;
					display: flex;
					justify-content: space-between;
                    @media screen and (max-width: 750px) {
                        flex-wrap: wrap;
                    }
                    a{
                        width: fit-content;
						height: 26px!important;
						width: 26px!important;
						display: flex;
						justify-content: center;
						align-items: center;
                        svg{
                            transition: all .3s;
							height: 26px!important;
							width: 26px!important;
                        }
                        &:hover{
                            svg{
                                transform: rotateY(360deg);
                            }
                        }
                    }
                }
			}
		}
	}
    .bottom{
        display: flex;
        justify-content: center;
        @media screen and (max-width: 1100px) {
            flex-wrap: wrap;
        }
        .left{
            background: #19664E;
            width: 48%;
            padding-top: 56px;
            padding-bottom: 74px;
            padding-right: 21px;
            @media screen and (max-width: 1100px) {
                width: 100%;
                padding: 40px;
            }
            .contain{
                max-width: 514px;
                margin-left: auto;
                margin-right: 0px;
                @media screen and (max-width: 1100px) {
                    max-width: 100%;
                }
                .img{
                    padding-bottom: 129px;
                    img{
                        width: 359px;
                        object-fit: contain;
                    }
                }
                .links{
                    padding-bottom: 30px;
                    display: flex;
                    column-gap: 31px;
                    align-items: center;
                    @media screen and (max-width: 750px) {
                        flex-wrap: wrap;
                    }
                    a{
                        padding: 10px;
                        width: fit-content;
                        svg{
                            transition: all .3s;
                        }
                        &:hover{
                            svg{
                                transform: rotateY(360deg);
                            }
                        }
                    }
                }
                .localizacao{
                    font-family: "Montserrat";
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    color: #FFFFFF;
                    transition: all .3s;
                    @media screen and (max-width: 750px) {
                        font-size: 16px;
                    }
                    &:hover{
                        opacity: 0.7;
                    }
                }
                .inner{
                    height: 29px;
                    width: 100%;
                }
                .contato{
                    font-family: "Montserrat";
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 29px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    color: #FFFFFF;
                    transition: all .3s;
                    @media screen and (max-width: 750px) {
                        font-size: 16px;
                    }
                    &:hover{
                        opacity: 0.7;
                    }
                }
                .direitos{
                    padding-top: 129px;
                    p{
                        font-family: "Montserrat";
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        color: #FFFFFF;
                        padding-bottom: 14px;
                    }
                    a{
                        font-family: "Montserrat";
                        font-size: 16px;
                        font-style: italic;
                        font-weight: 300;
                        line-height: 20px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        color: #FFFFFF;
                        transition: all .3s;
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
        .right{
            width: 52%;
            background: #155642;
            padding-top: 83px;
            padding-left: 89px;
            padding-bottom: 70px;
            overflow: hidden;
            @media screen and (max-width: 1100px) {
                width: 100%;
                padding: 40px;
            }
            .contain{
                max-width: 533px;
                @media screen and (max-width: 1100px) {
                    max-width: 100%;
                }
                >ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    flex-direction: column;
                    row-gap: 16px;
                    max-height: 650px;
                    @media screen and (max-width: 750px) {
                        max-height: 100%;
                        flex-direction: row;
                    }
                }
                >ul{
                    >li{
                        width: 50%;
                        @media screen and (max-width: 750px) {
                            width: 100%;
                        }
                    }
                    li{
                        font-family: "Montserrat";
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 36px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        color: #FFFFFF;
                        a{
                            font-family: "Montserrat";
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 36px;
                            letter-spacing: 0.1em;
                            text-align: left;
                            color: #FFFFFF;
                            transition: all .3s;
							white-space: nowrap;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        ul{
                            padding-left: 29px;
                            li{
								&:first-child{
									display: none;
								}
								font-family: "Montserrat";
                                font-size: 16px;
                                font-weight: 300;
                                line-height: 26px;
                                letter-spacing: 0.1em;
                                text-align: left;
                                color: #FFFFFF;
                                a{
                                    font-family: "Montserrat";
                                    font-size: 16px;
                                    font-weight: 300;
                                    line-height: 26px;
                                    letter-spacing: 0.1em;
                                    text-align: left;
									white-space: nowrap;
                                    color: #FFFFFF;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .top{
        background-color: #F4EFEF;
        padding: 60px 0;
        .al-container{
            width: 1004px;
            margin: auto;
            .newsletter{
                .tnp-subscription{
                    margin: 0px;
                    max-width: 100%;
                    form{
                        display: flex;
                        justify-content: center;
                        column-gap: 28px;
                        row-gap: 28px;
                        align-items: flex-end;
                        flex-wrap: wrap;
                        width: 100%;
                        .tnp-field{
                            @media screen and (max-width: 1100px) {
                                width: 100%;
                            }
                            margin-bottom: 0px;
                            label{
                                font-family: "Montserrat";
                                font-size: 18px;
                                font-weight: 700;
                                line-height: 22px;
                                letter-spacing: 0em;
                                text-align: left;
                                color: #FF6B19;
                                vertical-align: auto;
                                text-transform: uppercase;
                                padding-bottom: 4px;
                            }
                            input{
                                padding: 9px 29px;
                                background: #FAFAFA;
                                border-radius: 8px;
                                color: #8F8F8F;
                                font-family: "Montserrat";
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 22px;
                                letter-spacing: 0em;
                                text-align: left;
                                filter: none;
                                &::placeholder{
                                    color: #8F8F8F;
                                    font-family: "Montserrat";
                                    font-size: 18px;
                                    font-weight: 400;
                                    line-height: 22px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                }
                                &:hover{
                                    filter: none;
                                }
                            }
                        }
                        .tnp-field-button{
                            @media screen and (max-width: 1100px) {
                                display: flex;
                                justify-content: center;
								width: fit-content;
                            }
                            @media screen and (max-width: 566px) {
                                width: 100%;
                            }
                            position: relative;
                            input{
                                font-family: "Montserrat";
                                font-size: 20px;
                                font-weight: 700;
                                line-height: 24px;
                                letter-spacing: 0em;
                                text-align: left;
                                color: #FFF;
                                filter: none;
                                background-color: #FF6B19;
                                border: 1px solid #FF6B19;
                                padding: 9px 52px;
                                transition: all .3s;
								display: flex;
								justify-content: center;
                                @media screen and (max-width: 566px) {
                                    width: 100%;
                                }
                            }
                            &:hover{
                                input{
                                    color: #FF6B19;
                                    background-color: #FFF;
                                }
                                &:after{
                                    filter: brightness(0)saturate(100%)invert(58%) sepia(96%) saturate(3498%) hue-rotate(348deg) brightness(102%) contrast(103%);
                                }
                            }
							&:after{
                                width: 18px;
                                height: 18px;
                                content: "";
                                display: block;
                                left: 20px;
                                top: 9px;
                                position: absolute;
                                z-index: 99;
								background-image: url("assets/images/triangulo.webp");
								background-size: contain;
                                background-repeat: no-repeat;
                                @media screen and (max-width: 566px) {
                                    left: 17vw;
                                }
							}
                        }
                        .tnp-privacy-field{
                            order: 4;
                            width: 100%;
                            input{
                                width: 16px;
                                height: 16px;
                            }
                            a{
                                font-family: "Montserrat";
                                font-size: 12px;
                                font-weight: 600;
                                line-height: 18px;
                                letter-spacing: 0em;
                                text-align: left;
                                color: #FF6B19;
                                vertical-align: auto;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
            .superior{
                padding-bottom: 40px;
                display: flex;
                justify-content: space-around;
                column-gap: 96px;
                align-items: center;
                @media screen and (max-width: 750px) {
                    flex-wrap: wrap;
                }
                .left{
                    font-family: "Montserrat";
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 43px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #16523A;
                    max-width: 346px;
                    @media screen and (max-width: 750px) {
                        max-width: 100%;
                    }
                }
                .right{
                    font-family: "Montserrat";
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #1E1E1E;
                    max-width: 562px;
                    width: 100%;
                    @media screen and (max-width: 750px) {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
.wpcf7-spinner{
	display: none!important;
}
.sociais-fixed{
	width: 62px;
	height: 62px;
	border-radius: 50%;
	transition: all .3s;
	background: $secondary-color;
	position: fixed;
	left: auto;
	right: 20px;
	z-index: 9999;
	top: auto;
	bottom: 20px;
	&:hover{
		background: $primary-color;
		filter: drop-shadow(0 8px 12px rgba(5,0,6,.38));
		i{
			color: $secondary-color;
		}
	}
	.sociais{
		display: inline-block;
		width: 100%;
		height: 100%;
		position: relative;
		i{
			color: white;
			font-size: 35px;
			transition: all .3s;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover{
			i{
				color: $secondary-color;
			}
		}
	}
}
