/* Home
========================================================================== */
.solucao{
    padding: 100px 0;
    .title{
        font-family: "Montserrat";
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0em;
        text-align: center;
        color: #FF7A19;
        padding-bottom: 60px;
    }
    @media screen and (max-width: 750px) {
        padding: 20px;
    }
	.al-container{
		width: 1430px;
	}
	a{
		width: 20%;
		@media screen and (max-width: 1300px) {
			width: calc(25%);
		}
		@media screen and (max-width: 1080px) {
			width: 45%;
		}
		@media screen and (max-width: 708px) {
			width: 55%;
		}
		@media screen and (max-width: 708px) {
			width: 80%;
		}
		@media screen and (max-width: 460px) {
			width: 100%;
		}
	}
    .contain{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
		@media screen and (max-width: 1300px) {
			flex-wrap: wrap;
			row-gap: 32px;
		}
        .solucao-interna{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 8px;
            height: 432px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 60px;
            transition: all .3s;
			@media screen and (max-width: 1080px) {
				height: 560px;
				background-size: 100% 100%;
			}
			@media screen and (max-width: 820px) {
				height: 500px;
			}
			@media screen and (max-width: 708px) {
				height: 500px;
			}
            cursor: pointer;
            &:hover{
                scale: 1.1;
            }
            span{
                font-family: "Montserrat";
                font-size: 19px;
                font-weight: 800;
                line-height: 29px;
                letter-spacing: 0em;
                text-align: center;
                color: #F3F4F4;
            }
        }
    }
}
.historia{
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    #close-video{
       cursor: pointer;
       font-size: 16px;
       color: #FFF;
       cursor: pointer;
       font-size: 64px;
       color: #FFF;
       position: absolute;
       left: auto;
       right: 20px;
       top: 20px;
       z-index: 999;
    }
	iframe{
		width: 100%!important;
		height: 85.5vh!important;
	}
    .video{
		height: 85.5vh;
        width: 100%;
        .wp-video{
            width: 100%!important;
            height: 85.5vh!important;
            .wp-video-shortcode{
                width: 100%!important;
                height: 85.5vh!important;
                iframe{
                    width: 100%!important;
                    height: 85.5vh!important;
                }
            }
        }
    }
    .al-container{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 1060px;
		position: absolute;
        @media screen and (max-width: 925px) {
            flex-wrap: wrap;
        }
        .right{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 12px;
            svg{
                cursor: pointer;
            }
            p{
                width: 100%;
                font-family: "Montserrat";
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: center;
                color: #FFF;
            }
        }
        .left{
            width: 52%;
			display: none;
            @media screen and (max-width: 925px) {
                width: 100%!important;
            }
            h1{
                font-family: "Montserrat";
                font-size: 48px;
                font-weight: 700;
                line-height: 59px;
                letter-spacing: 0em;
                text-align: left;
                color: #FFF;
                padding-bottom: 21px;
                max-width: 474px;
            }
            p{
                font-family: "Montserrat";
                font-size: 24px;
                font-weight: 600;
                line-height: 29px;
                letter-spacing: 0em;
                text-align: left;
                color: #FFF;
            }
        }
    }
}
.ultimas-blog{
    padding: 100px 0;
    .title{
        color: #16523A;
        font-family: "Montserrat";
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0em;
        text-align: center;
        padding-bottom: 16px;
    }
    .text{
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: #1E1E1E;
        max-width: 828px;
        margin: auto;
        padding-bottom: 54px;
    }
    .columns{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 32px;
        column-gap: 32px;
        padding-bottom: 40px;
        .post{
            border-radius: 8px;
            width: 384px;
            min-height: 444px;
            box-shadow: 0px 4px 10px 0px #00000026;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                left: 0;
                top: auto;
                bottom: 0;
                width: 100%;
                height: 15px;
                border-radius: 0px 0px 8px 8px;
                background: #FF6B19;
            }
            img{
                height: 189px;
                width: 100%;
            }
            .text{
                padding: 11px 26px;
                h1{
                    font-family: "Montserrat";
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #454545;
                }
                p{
                    font-family: "Montserrat";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    padding-top: 18px;
                    color: #444444;
                }
            }
        }
    }
    .btn-contain{
        display: flex;
        justify-content: center;
        .button{
            font-family: "Montserrat";
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #FFF;
            background: #16523A;
            padding: 9px 20px;
            border: 1px solid #16523A;
            border-radius: 8px;
            transition: all .3s;
            &::before{
                content: none;
            }
            &:hover{
                color: #16523A;
                background-color: #FFF;
            }
        }
    }
}
.page-template-template-home-new{
    .main-header{
        transition: all .3s;
        box-shadow: unset;
        background: transparent;
        &.exeption{
            transition: all .3s;
            box-shadow: 0px 5px 5px #cecece;
            background: #f8f8f8;
        }
    }
}
body.home .main-header{
    display: none;
}
body.page-template-template-home-new .main-header{
    display: block;
}
body.page-template-template-home-new #wrapper{
    padding: 0px;
}
body.page-template-template-home-new .main-header .linguagem{
    text-shadow: 0px 0px 6px black;
}
body.home{
    .table{
        width: 100%;
        display: table;
    }
    #wrapper{
        padding: 0;
    }
    .floating{
        display: none;
    }
    .left, .right{
        .left, .right{
            transition: all 1.5s;
            cursor: pointer;
            @media (min-width: $sm) {
                &:not(.clickdir):not(.clickesq):hover{
                    filter: drop-shadow(17.989px 0.628px 72px rgba(0,0,0,0.5));
                    z-index: 9;
                }
            }
            .social{
                display: flex;
                flex-direction: row;
                justify-content: center;
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translateX(-50%);
                @media (max-width: $sm) {
                    display: none;
                }
                .sociais{
                    display: inline-block;
                    margin-right: 20px;
                    &:last-of-type{
                        margin-right: 0;
                    }
                    i{
                        color: white;
                        font-size: 28px;
                        transition: all .3s;
                    }
                    &:hover{
                        i{
                            color: $secondary-color;
                        }
                    }
                }
            }
            &.clickdir{
                filter: none !important;
                z-index: 9999;
                display: table;
                width: 100vw;
                position: fixed;
                right: 0;
                top: 0;
            }
            &.clickesq{
                filter: none !important;
                z-index: 9999;
                display: table;
                width: 100vw;
                position: fixed;
                left: 0;
                top: 0;
            }
        }
        .right{
            .social{
                width: 62px;
                height: 62px;
                border-radius: 50%;
                transition: all .3s;
                background: $secondary-color;
                &:hover{
                    background: $primary-color;
                    filter: drop-shadow(0 8px 12px rgba(5,0,6,.38));
                    i{
                        color: $secondary-color;
                    }
                }
                .sociais{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    i{
                        color: white;
                        font-size: 35px;
                        transition: all .3s;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &:hover{
                        i{
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
}
div.home{
    .centro{
        width: 100%;
        text-align: center;
    }
    h1{
        font-size: 2.76vw;
        line-height: 3.65vw;
        color: $white;
        font-weight: 700;
        font-family: "Ubuntu";
        text-align: center;
        display: block;
        padding: 0px 30px;
        width: 100%;
        @media (max-width: $sm) {
            font-size: 10vw;
            line-height: 16vw;
            padding: 0px 15px;
        }
    }
    .curriculo{
        font-size: 20px;
        color: $white;
        border-radius: 20px;
        border: 1px solid $white;
        position: relative;
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-top: 10px;
        cursor: pointer;
        transition: all .3s;
        i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 19px;
        }
        @media (max-width: $sm) {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            i{
                font-size: 30px;
            }
        }
        &.verde{
            &:hover{
                color: $primary-color;
                background-color: $white;
            }
        }
        &.laranja{
            &:hover{
                color: $secondary-color;
                background-color: $white;
            }
        }
    }
    &.left{
        width: 33.3%;
        background-color: #f08e1c;
        @media (max-width: $tb) {
            width: 25%;
        }
        @media (max-width: $sm) {
            width: 100vw;
            padding: 0;
        }
        .left{
            background-image: url('assets/images/card1.jpg');
            height: 100vh;
            vertical-align: bottom;
            padding-bottom: 50px;
            @media (max-width: $tb) {
                width: 100%;
                display: block;
                height: 50vh;
                padding-top: 90%;
            }
            @media (max-width: $sm) {
                width: 100%;
                display: block;
                height: unset;
                padding-top: unset;
                padding-bottom: 15px;
                background-size: cover;
            }
        }
        .right{
            background-image: url('assets/images/card2.jpg');
            height: 100vh;
            vertical-align: bottom;
            padding-bottom: 50px;
            @media (max-width: $tb) {
                width: 100%;
                display: table;
                height: 50vh;
                padding-top: 90%;
            }
            @media (max-width: $sm) {
                width: 100%;
                display: block;
                height: unset;
                padding-top: unset;
                padding-bottom: 15px;
                background-size: cover;
            }
        }
    }
    &.conteudo{
        width: 33.4%;
        display: inline-block;
        background-image: url('assets/images/card-centro.jpg');
        height: 100vh;
        vertical-align: bottom;
        padding-bottom: 50px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        @media (max-width: $tb) {
            width: 50%;
            margin-left: -1px;
        }
        @media (max-width: $sm) {
            width: 100vw;
            margin-left: 0px;
            padding: 0;
            display: table-header-group;
        }

        .logo-holder{
            height: 45vh;
            width: 100%;
            text-align: center;
            padding-top: 100px;
            img{
                padding: 0 10%;
            }
            @media (min-width: $dt) and (max-width: 1440px) {
                height: 37vh;
            }
        }
        #rev-home{
            height: 420px;
            display: inline-flex;
            @media (min-width: $dt) and (max-width: 1440px) {
                max-height: 400px;
            }
            @media (max-width: $tb) {
                max-width: 50vw;
                width: 100%;
            }
            @media (max-width: $sm) {
                padding: 0 15px 10px;
                max-width: 100vw;
            }
            .container2{
                max-height: 150px;
                margin-top: auto;
                padding: 0 15px;
                overflow: hidden;
                max-width: 33.4vw;
                position: relative;
                @media (max-width: $tb) {
                    max-width: unset;
                }
            }
            ul.lSPager.lSpg{
                position: absolute;
                right: 4%;
                top: 10%;
                transform: translateY(-50%) !important;
                margin: 0 !important;
                @media (max-width: $dt) {
                    right: 3%;
                }
                >li{
                    display: block;
                    padding: 2px;
                    a{
                        background: transparent;
                        border: 2px solid white;
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        filter: drop-shadow(0px 0px 1px black);
                    }
                    &.active{
                        a{
                            background: white;
                        }
                    }
                }
            }
            .article-container{
                text-align: center;
                article{
                    a{
                        position: relative;
                        display: inline-flex;
                        width: 565px;
                        max-width: 100%;
                        max-height: 100%;
                        margin-top: auto;
                        &:before{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: #ff8f19;
                            border-radius: 20px;
                        }
                        span{
                            width: 100%;
                            text-align: center;
                            padding: 15px 9.5%;
                            color: #23694d;
                            font-size: 35px;
                            font-weight: 600;
                            font-family: 'Ubuntu';
                            letter-spacing: 0px;
                            left: 0;
                            margin: auto;
                            position: relative;
                            @media (max-width: 1440px) {
                                font-size: 30px;
                            }
                            @media (max-width: $dt) {
                                font-size: 24px;
                            }
                        }
                    }
                    &.odd{
                        a{
                            span{
                                color: white;
                            }
                            &:before{
                                background: #23694d;
                            }
                        }
                    }
                    &.third{
                        a{
                            span{
                                color: #ff8f19;
                            }
                            &:before{
                                background: white;
                            }
                        }
                    }
                }
            }
        }
    }
    &.right{
        width: 33.3%;
        @media (max-width: $tb) {
            width: calc(25% + 1px);
        }
        @media (max-width: $sm) {
            width: 100vw;
            padding: 0;
            position: unset !important;
        }
        .left{
            background-image: url('assets/images/card3.jpg');
            height: 100vh;
            vertical-align: bottom;
            padding-bottom: 50px;
            @media (max-width: $tb) {
                width: 100%;
                display: table;
                height: 50vh;
                padding-top: 90%;
            }
            @media (max-width: $sm) {
                width: 100%;
                display: block;
                height: unset;
                padding-top: unset;
                padding-bottom: 15px;
                background-size: cover;
                position: unset !important;
            }
            .linguagem{
                display: flex;
                flex-direction: row;
                justify-content: center;
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translateX(-50%);
                a{
                    color: $primary-color;
                    font-size: 22px;
                    letter-spacing: 3px;
                    line-height: 32px;
                    font-weight: 700;
                    vertical-align: middle;
                    cursor: pointer;
                    transition: all .3s;
                    @media (max-width: $sm) {
                        color: $secondary-color;
                    }
                    &:hover{
                        color: $white;
                    }
                    &.active{
                        color: $white;
                    }
                    &:not(:last-of-type){
                        &::after{
                            content: '|';
                            color: $primary-color;
                            font-size: 22px;
                            letter-spacing: 3px;
                            line-height: 32px;
                            font-weight: 700;
                            vertical-align: top;
                            @media (max-width: $sm) {
                                color: $secondary-color;
                            }
                        }
                    }
                }
            }
        }
        .right{
            background-image: url('assets/images/card4.jpg');
            height: 100vh;
            vertical-align: bottom;
            padding-bottom: 50px;
            @media (max-width: $tb) {
                width: 100%;
                display: table;
                height: 50vh;
                padding-top: 90%;
            }
            @media (max-width: $sm) {
                width: 100%;
                display: table-caption;
                height: unset;
                padding-top: unset;
                padding-bottom: 15px;
                background-size: cover;
            }
        }
    }
}
