/**
 * Theme Name: AreaStructure
 * Theme URI: http://www.arealocal.com.br
 * Author: Equipe &Aacute;rea Local
 * Author URI: http://www.arealocal.com.br
 * Description: Esse tema &eacute; um tema personalizado pela &Aacute;rea Local, caso necessite de algum atendimento entre em contato no telefone <a href="tel:+554735219850" target="_blank">(47) 3521-9850</a> ou no e-mail <a href="mailto:suporte@arealocal.com.br" target="_blank">suporte@arealocal.com.br</a>. Para mais informa&ccedil;&otilde;es acesse: <a href="http://www.arealocal.com.br" target="_blank">www.arealocal.com.br</a>.
 * Version: 4.0.0
 * Text Domain: estrutura-basica
**/

/* Global variables
========================================================================== */
// Sizes
$sm: 480px;
$tb: 768px;
$dt: 1024px;

// Colors
$primary-color: #23694d;
$secondary-color: #ff6b19;
$tertiary-color: #f8f8f8;

$darken-primary-color: darken($primary-color, 16);
$darken-secondary-color: darken($secondary-color, 10);
$darken-tertiary-color: darken($tertiary-color, 10);

$white: #fdfffe;
$black: #000;

$danger: #dc3545;
$success: #28a745;

// Fonts
// $poppins-light: 'poppins-light';

/* Mixins
========================================================================== */
@import 'mixins';
@import 'fonts';

/* Resets
========================================================================== */
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	&:not(.fas, .fab, .fa) {
		font-size: 1rem;
	}
}

a {
	transition: all linear 0.2s;
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

input,
button {
	outline: none;
}

section {
	position: relative;
}

img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}

/* Global classes
========================================================================== */
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.al-container {
	width: 1230px;
	@media screen and (max-width: $dt) {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

.al-small-container {
	width: 1042px;
}

.al-extra-small-container {
	position: relative;
	width: 844px;
}

.al-container,
.al-small-container,
.al-extra-small-container {
	max-width: 100%;
	margin: 0 auto;
}

div.left-right-content {
	display: table;
	width: 100%;
	div.left,
	div.right {
		display: table-cell;
		vertical-align: middle;
		@include smartphone {
			display: table-row;
		}
	}
}

div:not(.galeria-container){
	.left,
	.right {
		display: inline-block;
		width: 49.5%;
		position: relative;
		vertical-align: top;
		@media screen and (max-width: $tb) {
			width: 100%;
		}
	}
}

.title{
	font-size: 45px;
	line-height: 50px;
	color: $secondary-color;
	font-weight: 700;
	font-family: "Ubuntu";
	text-transform: uppercase;
	padding-bottom: 30px;
	@media screen and (max-width: $sm) {
		font-size: 36px;
	}
	&.alt{
		color: $primary-color;
	}
}

.button{
	font-size: 21px;
	color: $secondary-color;
	font-weight: 300;
	font-family: "Ubuntu";
	border-radius: 20px;
	text-transform: uppercase;
	filter: drop-shadow(0px -6px 13.5px rgba(0,0,0,0.05));
	background-color: #ffffff;
	padding: 20px 40px;
	position: relative;
	display: inline-block;
	border: 2px solid transparent;
	transition: all .3s;
	@media screen and (max-width: $dt) {
		font-size: 18px;
		padding: 20px 35px;
	}
	@media screen and (max-width: $sm) {
		text-align: center;
	}
	&::before{
		content: "";
		width: 12px;
		height: 14px;
		background: url('assets/images/triangulo.png');
		display: inline-block;
		margin-right: 10px;
	}
	&:hover{
		border-color: $secondary-color;
	}
}

#wrapper{
	padding-top: 110px;
	overflow: hidden;
	@media screen and (max-width: $sm) {
		padding-top: 60px;
	}
}

#trp-floater-ls{
	display: none !important;
}

section.al-container.padrao{
	padding: 50px 0;
}

img.alignright{
	float: right;
	padding: 0px 0px 10px 10px;
}
img.alignleft{
	float: left;
	padding: 10px 10px 0px 0px;
}

/* Html / Body
========================================================================== */
html {
	height: 100%;
	overflow: auto;
}

body {
	background: $tertiary-color;
	height: 100%;
	line-height: 1.6;
	font: normal normal 16px Arial, sans-serif;
	scroll-behavior: smooth;
}

/* Custom scrollbar
========================================================================== */
body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background: darken($white, 10);
}

body::-webkit-scrollbar-thumb {
	background: $primary-color;
	&:hover {
		background: $darken-primary-color;
	}
}

p{
	font-size: 18px;
	line-height: 28px;
	color: #494949;
	font-weight: 400;
	font-family: "Ubuntu";
	padding-bottom: 30px;
}

/* Mobmenu Classes
========================================================================== */
.mob-menu-header-holder,
.mobmenu {
	z-index: 99 !important;
}

.mobmenul-container {
	top: 0 !important;
	right: 2% !important;
	z-index: 0 !important;
	background: $primary-color;
	padding: 10px 10px 0px 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mob-icon-menu,
.mob-menu-icon {
	color: $secondary-color !important;
}

[class^='mob-icon-']:before,
[class*='mob-icon-']:before {
	font-size: 28px !important;
	width: unset !important;
}

.mob-standard-logo{
	padding: 7px !important;
}

/* Contact Form 7
========================================================================== */
.form-container {
	.ajax-loader {
		display: none !important;
	}
	span[role='alert'] {
		display: none !important;
	}
	.wpcf7-not-valid {
		border: 1px solid $danger !important;
		@include placeholder {
			color: $danger !important;
		}
	}
	div[role='alert'] {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		text-align: center;
		background: #f1f1f1;
		width: 100%;
		max-width: 502px;
		margin: 20px 0;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		&.wpcf7-validation-errors {
			border-color: $danger;
			color: $danger;
		}
		&.wpcf7-mail-sent-ok {
			border-color: $success;
			color: $success;
		}
		@include smartphone {
			position: initial;
			max-width: 100%;
		}
	}
}

/* Pages
========================================================================== */
@import 'header';
@import 'footer';
@import 'home';
@import 'metodo';
@import 'projetos';
@import 'quem-somos';
@import 'startups';
@import 'single-startups';
@import 'contato';
@import 'blog';
@import 'lp-amazonascap';