section.al-container.lp{
    &.abertura{
        .title{
            font-size: 70px;
            line-height: 70px;
            color: $white;
            font-weight: 700;
            @media screen and (max-width: $sm) {
                font-size: 58px;
                line-height: 58px;
            }
            @media screen and (max-width: 380px) {
                font-size: 50px;
            }
        }
        p{
			font-size: 36px;
			line-height: 100%;
            color: $white;
            font-weight: 400;
            text-align: center;
            @media screen and (max-width: $sm) {
                line-height: 50px;
            }
        }
		.botoes{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
            @media screen and (max-width: 994px) {
                flex-wrap: wrap;
				row-gap: 22px;
            }
		}
        .button{
            @media screen and (max-width: 994px) {
                width: 80%;
            }
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 300;
            border-radius: 20px;
			line-height: 20px;
            filter: drop-shadow(0px 6px 13.5px rgba(0,0,0,0.05));
            background-color: $white;
			cursor: pointer;
			margin: 0px 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 45%;
			height: 100%;
			p{
				max-width: calc(100% - 22px);
			}
			*{
				padding: 0px!important;
				line-height: 20px!important;
				font-size: 16px!important;
				letter-spacing: 1px!important;
				color: #ff6b19!important;
			}
        }
    }
    &.socios{
		padding: 40px 0;
		height: auto;
		@media screen and (max-width: 800px) {
			padding: 40px 20px!important;
		}
		iframe{
			width: 100%!important;
			height: 70vh!important;
			@media screen and (max-width: 1000px) {
				height: 400px!important;
			}
			@media screen and (max-width: 600px) {
				height: 300px!important;
			}
		}
        .title{
            font-size: 45px;
            font-weight: 400;
            color: $secondary-color;
            @media screen and (max-width: $dt) {
                text-align: center;
            }
        }
        .keywords{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            max-width: 800px;
            margin: 20px auto 50px auto;
            @media screen and (max-width: $sm) {
                flex-wrap: wrap;
                flex-direction: column;
            }
            span{
                font-size: 24px;
                color: $white;
                font-weight: 500;
                text-transform: uppercase;
                font-family: 'Ubuntu';
            }
        }
    }
    &.proposta{
        padding-top: 120px;
        padding-bottom: 120px;
        p{
            //font-size: 35px;
            //line-height: 45px;
            //color: $primary-color;
            //font-weight: 400;
            text-align: center;
			font-size: 34px;
			line-height: 36px;
			color: #494949;
			font-weight: 400;
			font-family: "Ubuntu";
        }
    }
    &.depoimentos{
        padding-top: 80px;
        padding-bottom: 100px;
        .title{
            font-size: 49px;
            color: $white;
            font-weight: 700;
            text-align: center;
            padding-bottom: 65px;
            @media screen and (max-width: $sm) {
                font-size: 44px;
            }
        }
        .depoimentos-container{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            column-gap: 30px;
            @media screen and (max-width: $tb) {
                row-gap: 30px;
            }
            .depoimento{
                display: inline-block;
                width: calc(33% - 20px);
                border-radius: 20px;
                background-color: $white;
                padding: 25px 20px;
				cursor: pointer;
                @media screen and (max-width: $tb) {
                    width: calc(50% - 15px);
                }
                @media screen and (max-width: $sm) {
                    width: 100%;
                }
                .content{
                    padding-top: 20px;
                    padding-bottom: 30px;
                    border-bottom: 1px solid $secondary-color;
                    p{
						&:not(:first-child){
							display: none;
						}
						display: -webkit-box;
						-webkit-line-clamp: 6;
						-webkit-box-orient: vertical;
						overflow: hidden;
                        font-size: 18px;
                        line-height: 22px;
                        color: #0b0b0b;
                        font-weight: 300;
                        padding-bottom: 0px;
                    }
                }
                .footer{
                    padding-top: 20px;
                    display: flex;
                    align-items: center;
                    .left{
                        width: calc(100% - 120px);
                        padding-right: 40px;
                        h3{
                            font-size: 23px;
                            line-height: 22px;
                            color: #d47431;
                            font-weight: 700;
                            font-family: "Ubuntu";
                            padding-bottom: 5px;
                        }
                        p{
                            font-size: 17px;
                            line-height: 22px;
                            color: #d47431;
                            font-weight: 400;
                            padding-bottom: 0;
                        }
                    }
                    .right{
                        width: 120px;
                        .img-container{
                            width: 100%;
                            height: 100%;
                            text-align: right;
                            img{
                                width: 117px;
                                height: 117px;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
    &.startup{
        padding-top: 100px;
        padding-bottom: 100px;
        .title{
            color: #d47431;
            text-align: center;
			h1{
				color: #d47431;
				font-size: 49px;
				font-weight: 400;
			}
			*{
				color: #d47431;
			}
        }
        .keywords{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            max-width: 800px;
            margin: 20px auto 50px auto;
            @media screen and (max-width: $sm) {
                flex-wrap: wrap;
                flex-direction: column;
            }
            span{
                font-size: 24px;
                color: #d47431;
                font-weight: 500;
                text-transform: uppercase;
                font-family: 'Ubuntu';
            }
        }
        p{
            font-size: 33px;
            line-height: 42px;
            color: #7b7b7b;
            font-weight: 400;
            font-family: "Ubuntu";
            @media screen and (max-width: $sm) {
                font-size: 26px;
                line-height: 38px;
            }
            img{
                @media screen and (max-width: 1360px) {
                    object-fit: contain;
                    height: auto;
                }
            }
            iframe{
                max-width: 100%;
                margin: 0 auto;
                display: block;
            }
        }
    }
    &.formulario{
        padding-top: 50px;
        padding-bottom: 60px;
		.topo{
			display: flex;
			justify-content: center;
			column-gap: 24px;
			padding-bottom: 50px;
			&:has(div:not(:nth-child(2))) {
				display: none;
			}
			&:has(div:nth-child(2)){
				display: flex;
			}
			.button-form-lp{
				width: fit-content;
				padding: 5px 10px;
				border-radius: 8px;
				border: 1px solid #ff6b19;
                font-size: 24px;
                line-height: 28px;
                color: #ff6b19;
                font-weight: 400;
				transition: all .3s;
				cursor: pointer;
				&.active{
					color: #FFF;
					background-color: #ff6b19;
				}
			}
		}
        .header{
            text-align: center;
			>p{
                font-size: 24px;
                line-height: 45px;
                color: #7b7b7b;
                font-weight: 400;
                text-align: center;
                padding-top: 40px;
                padding-bottom: 40px;
			}
            .button{
                color: white;
                background: $secondary-color;
                font-size: 24px;
                letter-spacing: 1px;
                line-height: 30px;
                font-weight: 300;
                font-family: "Ubuntu";
                text-align: center;
                padding-left: 150px;
                padding-right: 60px;
                border-radius: 20px;
                filter: drop-shadow(0px 6px 13.5px rgba(0,0,0,0.05));
                position: relative;
                border: 1px solid transparent;
                @media screen and (max-width: $sm) {
                    font-size: 18px;
                    line-height: 24px;
                }
                &::before{
                    content: "";
                    width: 26px;
                    height: 31px;
                    background: url('assets/images/triangulo.webp');
                    display: inline-block;
                    margin-right: 10px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 66px;
                }
                &:hover{
                    box-shadow: 0 0.5em 0.5em -0.35em $secondary-color;
                    transform: translateY(-0.25em);
                }
            }
            .valores{
                max-width: 932px;
                border-radius: 10px;
                background-color: rgba(255,108,27,0.25882352941176473);
                margin: 0 auto;
                padding: 50px;
                margin-bottom: 50px;
                @media screen and (max-width: $sm) {
                    padding: 10px;
                }
                >.left, >.right{
                    width: 49.5% !important;
                    @media screen and (max-width: $sm) {
                        width: 48.5% !important;
                    }
                }
                p{
                    font-size: 24px;
                    line-height: 30px;
                    color: #7b7b7b;
                    font-weight: 400;
                    text-align: center;
                    padding-bottom: 35px;
                    @media screen and (max-width: 380px) {
                        font-size: 21px;
                    }
                }
                div{
                    position: relative;
                    input[type="radio"]{
                        position: absolute;
                        visibility: hidden;
                    }
                    label{
                        display: flex;
                        column-gap: 75px;
                        @media screen and (max-width: $sm) {
                            column-gap: 20px;
                        }
                        span{
                            font-size: 24px;
                            line-height: 30px;
                            color: #7b7b7b;
                            font-weight: 400;
                            font-family: "Ubuntu";
                            text-align: center;
                            border-radius: 10px;
                            background-color: #ffffff;
                            text-align: center;
                            padding: 10px;
                            margin-bottom: 15px;
                            width: calc(50% - 37.5px);
                            border: 2px solid transparent;
                            transition: all .3s;
                            @media screen and (max-width: $sm) {
                                width: calc(50% - 10px);
                                font-size: 20px;
                                line-height: 22px;
                            }
                            @media screen and (max-width: 380px) {
                                font-size: 18px;
                            }
                            &.left{
                                &::before{
                                    content: "";
                                    width: 15px;
                                    height: 15px;
                                    border-radius: 50%;
                                    background-color: transparent;
                                    border: 2px solid #ff6c1b;
                                    display: inline-block;
                                    margin-right: 40px;
                                    color: #ff6c1b;
                                    transition: all .3s;
                                    @media screen and (max-width: $sm) {
                                        margin-right: 10px;
                                    }
                                }
                            }
                            &.active, &.active + .right{
                                border-color: #ff6c1b;
                                &::before{
                                    background-color: #ff6c1b;
                                }
                            }
                        }
                    }
                }
            }
        }
        .form{
			>p{
                font-size: 24px;
                line-height: 45px;
                color: #7b7b7b;
                font-weight: 400;
                text-align: center;
                padding-top: 40px;
                padding-bottom: 40px;
			}
            .valores{
                max-width: 932px;
                border-radius: 10px;
                background-color: rgba(255,108,27,0.25882352941176473);
                margin: 0 auto;
                padding: 50px;
                margin-bottom: 50px;
                @media screen and (max-width: $sm) {
                    padding: 10px;
                }
                >.left, >.right{
					text-align: center;
                    width: 49.5% !important;
                    @media screen and (max-width: $sm) {
                        width: 48.5% !important;
                    }
                }
                p{
                    font-size: 24px;
                    line-height: 30px;
                    color: #7b7b7b;
                    font-weight: 400;
                    text-align: center;
                    padding-bottom: 35px;
                    @media screen and (max-width: 380px) {
                        font-size: 21px;
                    }
                }
                div{
                    position: relative;
                    input[type="radio"]{
                        position: absolute;
                        visibility: hidden;
                    }
                    label{
                        display: flex;
                        column-gap: 75px;
                        @media screen and (max-width: $sm) {
                            column-gap: 20px;
                        }
                        span{
                            font-size: 24px;
                            line-height: 30px;
                            color: #7b7b7b;
                            font-weight: 400;
                            font-family: "Ubuntu";
                            text-align: center;
                            border-radius: 10px;
                            background-color: #ffffff;
                            text-align: center;
                            padding: 10px;
                            margin-bottom: 15px;
                            width: calc(50% - 37.5px);
                            border: 2px solid transparent;
                            transition: all .3s;
                            @media screen and (max-width: $sm) {
                                width: calc(50% - 10px);
                                font-size: 20px;
                                line-height: 22px;
                            }
                            @media screen and (max-width: 380px) {
                                font-size: 18px;
                            }
                            &.left{
                                &::before{
                                    content: "";
                                    width: 15px;
                                    height: 15px;
                                    border-radius: 50%;
                                    background-color: transparent;
                                    border: 2px solid #ff6c1b;
                                    display: inline-block;
                                    margin-right: 40px;
                                    color: #ff6c1b;
                                    transition: all .3s;
                                    @media screen and (max-width: $sm) {
                                        margin-right: 10px;
                                    }
                                }
                            }
                            &.active, &.active + .right{
                                border-color: #ff6c1b;
                                &::before{
                                    background-color: #ff6c1b;
                                }
                            }
                        }
                    }
                }
            }
            position: relative;
            .text{
                font-size: 20px;
                line-height: 25px;
                color: #7b7b7b;
                font-weight: 400;
                font-family: "Ubuntu";
                text-align: center;
            }
			.title{
                max-width: 932px;
                margin: 0 auto;
				text-align: center;
				line-height: 42px;
				padding-bottom: 24px;
			}
	        .texto{
                font-size: 24px;
                line-height: 45px;
                color: #7b7b7b;
                font-weight: 400;
                text-align: center;
                max-width: 932px;
                margin: 0 auto;
            }
            >.wpcf7{
				display: none;
				&.active{
					display: block;
				}
			}
			div.real-form{
				display: flex;
				flex-wrap: wrap;
				column-gap: 6px;
				justify-content: space-between;
			}
			.texto{
				p{
					width: 100%!important;
				}
			}
            .wpcf7-form, div.real-form{
                width: 100%;
				.valores{
					p{
						width: 100%;
						padding: 0px!important;
						margin: 0px!important;
					}
				}
                p{
                    display: inline-block;
                    width: calc(50% - 18px);
                    @media (max-width: $sm) {
                        width: 100%;
                        margin-right: 0px !important;
                    }
                    input:not([type=submit]):not([type=checkbox]), select, textarea{
                        width: 100%;
                        border-radius: 5px;
                        border: 1px solid #ff6b19;
                        font-size: 18px;
                        line-height: 24px;
                        color: #666666;
                        font-weight: 400;
                        font-style: italic;
                        font-family: "Montserrat";
                        text-align: left;
                        padding: 5px 10px;
                        background: #f8f8f8;
                        max-width: 100%;
                        color: #666666;
                    }
                    select{
                        outline: none;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;
                        background-color: #fff;
                        background-image: url("assets/images/seta.png");
                        background-repeat: no-repeat, repeat;
                        background-position: right 1em top 50%, 0 0;
                        background-size: 0.65em auto, 100%;
                        transition: all 0.3s ease-in-out;
                        text-transform: inherit;
                    }
                    &:has(textarea){
                        width: 100%;
                        margin-right: 0px;
                        .wpcf7-list-item{
                            margin-left: 0px;
                        }
                    }
					&:has(.button){
                        width: 100%;
						display: flex;
						justify-content: center;
                    }
					&.text{
						width: 100%;
					}
                    .button{
                        cursor: pointer;
                        padding: 0;
                        position: relative;
                        color: white;
                        background: $secondary-color;
                        font-size: 24px;
                        letter-spacing: 1px;
                        line-height: 30px;
                        font-weight: 300;
                        font-family: "Ubuntu";
                        text-align: right;
                        border-radius: 20px;
                        filter: drop-shadow(0px 6px 13.5px rgba(0,0,0,0.05));
                        position: relative;
                        border: 1px solid transparent;
						span.wpcf7-spinner {
							display: none;
						}
                        &::before{
                            content: "";
                            width: 15px;
                            height: 18px;
                            background: url('assets/images/triangulo.webp');
                            background-size: contain;
                            display: inline-block;
                            margin-right: 10px;
                            position: absolute;
                            top: 50% !important;
                            transform: translateY(-50%);
                            left: 66px;
                        }
                        &:hover{
                            box-shadow: 0 0.5em 0.5em -0.35em $secondary-color;
                            transform: translateY(-0.25em);
                        }
                        .ajax-loader{
                            position: absolute;
                            bottom: 45px;
                            left: 30vw;
                            background: #f8f8f8;
                            &::before{
                                content: url("assets/images/group.svg");
                                left: 50%;
                                top: 0;
                                transform: translateX(-50%);
                                background: #f8f8f8;
                                width: 200px;
                                height: 200px;
                                border: none;
                                border-radius: 0;
                                transform-origin: 0;
                                animation-name: none;
                                animation-duration: 1000ms;
                                animation-timing-function: linear;
                                animation-iteration-count: infinite;
                            }
                        }
                        &::before{
                            position: absolute;
                            top: calc(50% - 7px);
                            left: 60px;
                        }
                    }
                    input[type=submit]{
                        font-size: 24px;
                        color: white;
                        font-weight: 300;
                        font-family: "Ubuntu";
                        text-transform: uppercase;
                        outline: none;
                        border: none;
                        background: transparent;
                        width: 100%;
                        cursor: pointer;
                        padding: 20px 66px 20px 80px;
                        border-radius: 20px;
                    }
                    input[type=checkbox]{
                        margin-right: 5px;
                        width: 20px;
                        height: 20px;
                    }
                    input[type=checkbox]+.wpcf7-list-item-label{
                        vertical-align: text-bottom;
                    }
                }
                .wpcf7-recaptcha{
                    >div{
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}

.topo.lp{
    background-image: url('assets/images/topo-lp.webp');
    display: flex;
    align-items: center;
    min-height: 921px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.background.par.lp{
    background-repeat: repeat;
}
html{
	scroll-behavior: smooth;
}
.back2 .startup .title{
	padding-bottom: 0px;
}
