section.al-container.metodo{
    padding: 50px 0;
    .title{
        max-width: 100%;
        width: 450px;
    }
    &.universitaria{
        .left{
            width: 36.7%;
        }
        .right{
            width: 62.7%;
            padding-left: 50px;
            padding-top: 165px;
            @media screen and (max-width: $tb) {
                padding-left: 0px;
                padding-top: 50px;
            }
            img{
                width: 100%;
                height: auto;
            }
        }
		.acelerar.center{
			padding: 20px 0px;
			display: flex;
			justify-content: center;
		}
    }
    &.early{
        ul{
            width: 100%;
            display: block;
            padding-bottom: 50px;
            padding-top: 20px;
            @media screen and (max-width: $sm) {
                padding-bottom: 20px;
            }
            li{
                display: inline-block;
                width: 33%;
                padding: 0 5%;
                position: relative;
                @media screen and (max-width: $tb) {
                    width: 32%;
                }
                @media screen and (max-width: $tb) {
                    width: 100%;
                }
                img{
                    // width: 80px;
                    // height: 80px;
                    vertical-align: middle;
                    margin: 0 auto 20px auto;
                    display: block;
                    // border-radius: 50%;
                }
                p{
                    font-size: 18px;
                    line-height: 28px;
                    color: #494949;
                    font-weight: 500;
                    font-family: "Ubuntu";
                    font-style: italic;
                    text-align: center;
                    @media screen and (max-width: $tb) {
                        padding: 0 4%;
                    }
                    @media screen and (max-width: $sm) {
                        width: 100%;
                        padding-bottom: 20px;
                    }
                    @media screen and (max-width: 380px) {
                        font-size: 17px;
                    }
                }

            }
        }
        p{
            padding-bottom: 50px;
        }
        .acelerar{
            width: 100%;
            text-align: center;
            // margin-bottom: -80px;
        }
        &#secao4{
            // margin-bottom: 100px;
            ul{
                padding-bottom: 0;
                text-align: center;
                li{
                    display: inline-block;
                    width: 33%;
                    padding: 0 5%;
                    text-align: center;
                    @media screen and (max-width: $tb) {
                        width: 32%;
                        padding: 0px 3%;
                    }
                    @media screen and (max-width: $sm) {
                        width: 100%;
                    }
                    img{
                        width: 80px;
                        height: 80px;
                        vertical-align: middle;
                        margin: 0 auto 20px auto;
                        display: block;
                        border-radius: 50%;
                    }
                    b{
                        text-transform: uppercase;
                        font-size: 20px;
                        line-height: 28px;
                        color: #494949;
                        font-weight: 500;
                        font-family: "Ubuntu";
                        display: block;
                    }
                    p{
                        font-size: 18px;
                        line-height: 28px;
                        color: #494949;
                        font-weight: 400;
                        font-family: "Ubuntu";
                        text-align: center;
                        display: block;
                    }
                }
            }
        }
    }
    &.aberta{
        // padding-top: 150px;
        .title{
            width: 425px;
        }
        ul{
            text-align: center;
            padding: 50px 0;
            li{
                display: inline-block;
                width: 33%;
                padding: 0 5%;
                text-align: center;
                @media screen and (max-width: $tb) {
                    width: 32%;
                    padding: 0px 3%;
                }
                @media screen and (max-width: $sm) {
                    width: 100%;
                }
                img{
                    width: 80px;
                    height: 80px;
                    vertical-align: middle;
                    margin: 0 auto 20px auto;
                    display: block;
                    border-radius: 50%;
                }
                b{
                    text-transform: uppercase;
                    font-size: 20px;
                    line-height: 28px;
                    color: #494949;
                    font-weight: 500;
                    font-family: "Ubuntu";
                    display: block;
                }
                p{
                    font-size: 18px;
                    line-height: 28px;
                    color: #494949;
                    font-weight: 400;
                    font-family: "Ubuntu";
                    text-align: center;
                    display: block;
                }
            }
        }
        .left{
            width: 51%;
        }
        .right{
            width: 48%;
            padding-left: 10%;
            @media screen and (max-width: $tb) {
                padding-left: 0;
                text-align: center;
            }
        }
		.acelerar.center{
			padding: 20px 0px;
			display: flex;
			justify-content: center;
		}
    }
    &.investimento, &.edtech{
        // padding-top: 150px;
        .title{
            width: 425px;
        }
        ul{
            text-align: center;
            padding: 50px 0;
            li{
				&:first-child{
					&:last-child{
						width: 58%;
					}
				}
                display: inline-block;
                width: 33%;
                padding: 0 5%;
                text-align: center;
                @media screen and (max-width: $tb) {
                    width: 32%;
                    padding: 0px 3%;
                }
                @media screen and (max-width: $sm) {
                    width: 100%;
                }
                img{
                    width: 80px;
                    height: 80px;
                    vertical-align: middle;
                    margin: 0 auto 20px auto;
                    display: block;
                    border-radius: 50%;
                }
                b{
                    text-transform: uppercase;
                    font-size: 20px;
                    line-height: 28px;
                    color: #494949;
                    font-weight: 500;
                    font-family: "Ubuntu";
                    display: block;
                }
                p{
                    font-size: 18px;
                    line-height: 28px;
                    color: #494949;
                    font-weight: 400;
                    font-family: "Ubuntu";
                    text-align: center;
                    display: block;
                }
            }
        }
		.acelerar.center{
			display: flex;
			justify-content: center;
		}
        .left{
            width: 51%;
        }
        .right{
            width: 48%;
            padding-left: 10%;
            @media screen and (max-width: $tb) {
                padding-left: 0;
                text-align: center;
            }
        }
    }
    .left,
	.right {
		@media screen and (max-width: $tb) {
			width: 100% !important;
		}
	}
	&.edtech{
		p{
			text-align: center;
		}
		.subtitle{
			padding-top: 20px;
			color: #23694d;
			font-size: 30px;
			line-height: 35px;
			text-align: center;
			font-weight: 700;
			font-family: "Ubuntu";
			text-transform: uppercase;
			padding-bottom: 30px;
		}
        ul{
            li{
				&:first-child{
					&:last-child{
						width: 58%;
					}
				}
                display: inline-block;
                width: 33%;
                padding: 0 5%;
                text-align: center;
                @media screen and (max-width: $tb) {
                    width: 32%;
                    padding: 0px 3%;
                }
                @media screen and (max-width: $sm) {
                    width: 100%;
                }
                img{
                    width: 140px;
                    height: 140px;
                    vertical-align: middle;
                    margin: 0 auto 20px auto;
                    display: block;
					object-fit: contain;
					background-color: #FFF;
                }
			}
		}
	}
}
.back1{
    background: url('assets/images/fundo1.png') no-repeat;
    background-position-y: 150px;
    background-position-x: -60px;
}
.back2{
    background: url('assets/images/fundo2.jpg');
}
.back3{
    background: url('assets/images/fundo3.png') no-repeat;
    background-position-y: -190px;
    background-position-x: -100px;
}
