section.al-container.projetos{
    &.similar{
        padding-top: 100px;
        padding-bottom: 100px;
        @media screen and (max-width: $tb) {
            padding-bottom: 0px;
        }
        .right{
            text-align: center;
            height: 250px;
            display: inline-flex;
            .button-container{
                display: block;
                margin: auto 0px auto auto;
            }
            
        }
    }
    &.projeto{
        padding-top: 50px;
        margin-bottom: 100px;
        @media screen and (max-width: $tb) {
            padding-bottom: 25px;
            padding-top: 25px;
        }
        .ancor{
            position: absolute;
            top: -150px;
            @media screen and (max-width: $sm) {
                top: -70px;
            }
        }
        .img-container{
            padding-bottom: 30px;
            @media screen and (max-width: $tb) {
                padding-top: 25px;
            }
        }
        h3{
            font-size: 28px;
            line-height: 50px;
            color: #ffffff;
            font-weight: 300;
            font-family: "Ubuntu";
            text-transform: capitalize;
        }
        p{
            font-size: 18px;
            line-height: 28px;
            color: #ffffff;
            font-weight: 400;
            font-family: "Ubuntu";
            padding-bottom: 0;
            @media screen and (max-width: $tb) {
                padding-bottom: 25px;
            }
        }
        padding-left: 50px;
        .galeria-container2{
            width: 535px;
            height: 450px;
            position: relative;
            text-align: center;
            @media screen and (max-width: $tb) {
                width: 100%;
            }
            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
            }
            img{
                width: auto;
                height: 100%;
            }
        }
        div.right:not(.galeria-container){
            padding-left: 50px;
            @media screen and (max-width: $tb) {
                padding-left: 0px;
            }
            .galeria-container2{
                &:before{
                    background: linear-gradient(112deg,transparent 55%, rgb(211 114 49 / 52%)  80%);
                    @media screen and (max-width: $tb) {
                        left: 0;
                    }
                }
            }
        }
        div.left:not(.galeria-container){
            padding-right: 50px;
            @media screen and (max-width: $tb) {
                padding-right: 0px;
            }
            .galeria-container2{
                &:before{
                    background: linear-gradient(112deg,transparent 55%, rgb(26 101 78 / 50%)  80%);
                    @media screen and (max-width: $tb) {
                        left: 0;
                    }
                }
            }
        }
        .lSSlideOuter{
            position: relative;
            @media screen and (max-width: $tb) {
                margin: 25px 0;
            }
            ul.lSPager.lSpg{
                position: absolute;
                bottom: 5px;
                left: 50%;
                transform: translateX(-50%);
                li{
                    a{
                        background: transparent;
                        border: 1px solid white;
                    }
                    &.active{
                        a{
                            background: white;
                        }
                    }
                }
            }
        }
    }
} 

.background{
    &.par{
        background: url('assets/images/fundo-laranja.jpg') repeat-x top center;
        @media screen and (max-width: $tb) {
            background-repeat: repeat;
        }
    }
    &.impar{
        background: url('assets/images/fundo-verde.jpg') repeat-x top center;
        @media screen and (max-width: $tb) {
            background-repeat: repeat;
        }
    }
}