section.al-container.single.case{
    padding: 50px 0;
    h1{
        padding-bottom: 50px;
    }
    .left{
        padding-right: 4%;
        @media screen and (max-width: $tb) {
            padding-right: 0%;
            padding-bottom: 50px;
        }
        img{
            max-width: 250px;
            padding-bottom: 30px;
        }
        p{
            a{
                color: $primary-color;
                transition: all .3s;
                font-weight: 500;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }
    .right{
        text-align: center;
        iframe{
            max-width: 100%;
            width: 527px;
            height: 310px;
        }
    }
}