section.al-container.blog{
    padding: 50px 0;
    .noticias{
        padding: 0 30px;
        column-count: 3;
        column-gap: 30px;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        @media screen and (max-width: $dt) {
            column-count: 2;
        }
        @media screen and (max-width: $sm) {
            column-count: 1;
            column-gap: 0px;
            padding: 0px;
        }
        .portOpen {
            -webkit-animation: portOpen 1s normal forwards ease-in-out;
            -moz-animation: portOpen 1s normal forwards ease-in-out;
            animation: portOpen 1s normal forwards ease-in-out;
            -webkit-transform-origin: 50% 0%;
            -moz-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        }
        article{
            display: inline-block;
            width: calc(33% - 20px);
            @media screen and (max-width: $dt) {
                width: calc(50% - 15px);
            }
            @media screen and (max-width: $sm) {
                width: 100%;
            }
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: #f8f8f8;
            box-shadow: 0px 0px 19px 0px rgba(37, 37, 37, 0.1);
            img{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                width: 100%;
                height: 227px;
            }
            .content{
                padding: 10px 20px;
                header{
                    padding-bottom: 15px;
                    min-height: 195px;
                    h2 {
                        padding-bottom: 10px;
                        min-height: 55px;
                        a{
                            font-size: 20px;
                            color: #222221;
                            font-weight: bold;
                            font-family: "Montserrat";
                        }
                    }
                    p{
                        font-size: 14px;
                        line-height: 22px;
                        color: #222221;
                        font-weight: 400;
                        font-family: "Montserrat";
                        padding: 0;
                    }
                }
                .leia-mais{
                    a, i{
                        font-weight: 600;
                        background: -webkit-linear-gradient(#da9337, #d17732);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }
    &.listagem{
        .title{
            padding-bottom: 50px;
            @media screen and (max-width: $sm) {
                font-size: 35px;
            }
        }
        .right{
            vertical-align: middle;
            padding-bottom: 50px;
            flex-direction: row;
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            @media screen and (max-width: $tb) {
                justify-content: flex-start;
            }
            form{
                width: 100%;
                text-align: right;
            }
            select, input{
                height: 50px;
                max-width: 100%;
                width: 40%;
                border-radius: 20px;
                filter: drop-shadow(-1.247px 5.869px 13.5px rgba(0,0,0,0.05));
                background-color: #f8f8f8;
                padding-left: 1em;
                font-size: 18px;
                color: #988a83;
                font-weight: 300;
                font-family: "Ubuntu";
                border: none;
                outline: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                background-color: #fff;
                border: none;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                &:hover{
                    filter: drop-shadow(-1.04px 4.891px 12px rgb(255 143 25 / 0.5));
                }
                @media screen and (max-width: $sm) {
                    display: block;
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
            select{
                background-image: url('assets/images/seta.png');
                background-repeat: no-repeat, repeat;
                background-position: right 1em top 50%, 0 0;
                background-size: .65em auto, 100%;
                text-transform: uppercase;
            }
            button[type="submit"]{
                padding: 0 !important;
                height: 50px;
                width: 15%;
                cursor: pointer;
                &:before{
                    display: none;
                }
                @media screen and (max-width: $sm) {
                    display: block;
                    width: 100%;
                    &:before{
                        display: inline-block;
                        background: none;
                        content: "Pesquisar";
                        position: relative;
                        width: unset;
                        height: unset;
                    }
                }
            }
        }
    }
    &.single{
        padding-bottom: 0;
        #breadcrumbs{
            a{
                transition: all .3s;
                color: #494949;
                &:hover{
                    color: $secondary-color;
                }
            }
            .breadcrumb_last{
                color: $primary-color;
            }
        }
        span.data{
            font-size: 18px;
            line-height: 28px;
            color: #494949;
            font-weight: 400;
            font-family: "Ubuntu";
        }
        &:not(.relacionadas){
            .title{
                color: #222221;
                text-transform: none;
                @media screen and (min-width: $dt) {
                    font-size: 47px;
                }
            }
        }
        
        .img-container{
            width: 100%;
            text-align: center;
            padding-bottom: 40px;
            img{
                display: inline-block;
                border-radius: 10px;
            }
        }
        .content{
            p{
                font-size: 22px;
                line-height: 28px;
                color: #494949;
                font-weight: 400;
                font-family: "Ubuntu";
            }
        }
        .share{
            padding: 0px 0 20px 0;
            text-align: right;
            &.hidden{
                visibility: hidden;
            }
            a{
                display: inline-block;
                margin-right: 20px;
                &:first-of-type{
                    margin-left: 20px;
                }
                i{
                    color: $primary-color;
                    font-size: 28px;
                    transition: all .3s;
                }
                &:hover{
                    i{
                        color: $secondary-color;
                    }
                }
            }
        }
        &.relacionadas{
            padding-top: 30px;
            padding-bottom: 50px;
            .noticias{
                min-height: 420px;
            }
        }
    }
}
.al-container.linha{
    width: 1275px;
    border-bottom: 1px solid $secondary-color;
    @media screen and (max-width: $dt) {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}