/* Footer
========================================================================== */
footer.main-footer{
    display: table;
    width: 100%;
    .small-container{
        width: 615px;
        max-width: 50vw;
        @media screen and (max-width: $tb) {
            max-width: 100vw;
            margin: 0 auto;
            text-align: center;
        }
    }
    .left{
        display: table-cell;
        background-color: #19664e;
        text-align: center;
        vertical-align: middle;
        width: 70%;
        height: 530px;
        @media screen and (max-width: $tb) {
            display: flex;
            align-items: center;
            height: 300px;
        }
        .small-container{
            margin: 0 auto;
            .logo-holder{
                text-align: right;
                padding: 0 20px;
                @media screen and (max-width: $dt) {
                    text-align: center;
                }
            }
        }
    }
    .right{
        display: table-cell;
        background-color: #155642;
        width: 30%;
        text-align: center;
        vertical-align: middle;
        height: 530px;
        position: relative;
        @media screen and (max-width: $tb) {
            display: flex;
            align-items: center;
            height: 440px;
        }
        .small-container{
            margin-right: auto;
            >div, p{
                width: fit-content;
                margin: 0px auto 0 20%;
                text-align: left;
                padding-bottom: 15px;
                @media screen and (max-width: $tb) {
                    margin: 0 auto;
                    text-align: center;
                }
            }
            .contato{
                h2{
                    font-size: 22px;
                    line-height: 52px;
                    color: #ffffff;
                    font-weight: 700;
                    font-family: "Ubuntu";
                    display: block;
                    text-transform: uppercase;
                    padding-bottom: 15px;
                }
                a{
                    font-size: 18px;
                    line-height: 24px;
                    color: #ffffff;
                    font-weight: 400;
                    font-family: "Ubuntu";
                    display: block;
                    padding-bottom: 15px;
                    transition: all .3s;
                    &:hover{
                        color: $secondary-color;
                    }
                }
            }
            p{
                font-size: 16px;
                line-height: 24px;
                color: #ffffff;
                font-weight: 400;
                font-family: "Ubuntu";
                display: block;
                padding-bottom: 30px;
            }
            .social{
                display: flex;
                flex-direction: row;
                justify-content: center;
                .sociais{
                    display: inline-block;
                    margin-right: 20px;
                    @media screen and (max-width: 480px) {
                        margin-right: 15px;
                    }
                    i{
                        color: white;
                        font-size: 28px;
                        transition: all .3s;
                    }
                    &:hover{
                        i{
                            color: $secondary-color;
                        }
                    }
                }
            }
            .area-local{
                position: absolute;
                bottom: 0;
                padding-bottom: 5px;
                @media screen and (max-width: $tb) {
                    left: 50%;
                    transform: translateX(-50%);
                }
                a{
                    font-size: 14px;
                    line-height: 24px;
                    color: #ffffff;
                    font-weight: 400;
                    font-family: "Ubuntu";
                    text-transform: uppercase;
                    transition: all .3s;
                    &:hover{
                        color: $secondary-color;
                    }
                }
            }
        }
    }
    .left,
	.right {
		@media screen and (max-width: $tb) {
			width: 100%;
		}
	}
}