/* Header
========================================================================== */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@-webkit-keyframes fadeInMenuOpen {
    from { opacity: 0; right: -50%; }
      to { opacity: 1; right: 0; }
}
@keyframes fadeInMenuOpen {
    from { opacity: 0; right: -50%; }
      to { opacity: 1; right: 0; }
}
@-webkit-keyframes fadeInMenuClose {
    from { opacity: 1; right: 0; }
      to { opacity: 0; right: -50%; }
}
@keyframes fadeInMenuClose {
    from { opacity: 1; right: 0; }
      to { opacity: 0; right: -50%; }
}
.main-header{
    box-shadow: 0px 5px 5px #cecece;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #f8f8f8;
    .al-container{
        position: relative;
        .destaque{
            text-align: center;
            position: absolute;
            width: 100%;
            top: 25px;
            padding: 0 215px 0 315px;
            @media screen and (max-width: $tb) {
                display: none;
            }
            a{
                color: white;
                background-color: $secondary-color;
                position: relative;
                z-index: 10;
                &::before{
                    display: none;
                }
                &:hover{
                    background-color: $primary-color;
                    color: $secondary-color;
                }
            }
        }
        .left{
            text-align: left;
            width: 49.5% !important;
            height: 110px;
            @media screen and (max-width: 480px) {
                width: 68.4% !important;
                height: auto;
            }
            .logo-holder{
                display: inline-block;
                padding: 30px 0;
                @media screen and (max-width: 480px) {
                    padding: 10px 0;
                }
                @media screen and (max-width: 370px) {
                    padding: 14px 0;
                }
                a{
                    display: block;
                    img{
                        max-width: 314px;
                        @media screen and (max-width: $sm) {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        .right{
            text-align: right;
            height: 110px;
            width: 49.5% !important;
            display: inline-flex;
            justify-content: flex-end;
            @media screen and (max-width: 480px) {
                width: 30% !important;
                height: 60px;
            }
            .linguagem{
                display: inline-flex;
                vertical-align: top;
                height: 100%;
                width: fit-content;
                justify-content: center;
                align-items: center;
                visibility: hidden;
                padding-right: 50px;
                @media screen and (max-width: $tb) {
                    position: absolute;
                    right: -25px;
                    bottom: -42px;
                    height: fit-content;
                    background: #f8f8f8;
                    padding: 5px 20px;
                    border-radius: 0% 0% 50% 50%;
                    box-shadow: 0px 3px 3px #cecece;
                }
                a{
                    color: $secondary-color;
                    font-size: 22px;
                    letter-spacing: 3px;
                    line-height: 32px;
                    font-weight: 700;
                    vertical-align: middle;
                    cursor: pointer;
                    transition: all .3s;
                    &:hover{
                        color: $primary-color;
                    }
                    &.active{
                        color: $primary-color;
                    }
                    &:not(:last-of-type){
                        &::after{
                            content: '|';
                            color: $secondary-color;
                            font-size: 22px;
                            letter-spacing: 3px;
                            line-height: 32px;
                            font-weight: 700;
                            vertical-align: top;
                        }
                    }
                }
            }    
            #menu-bars{
                position: relative;
                display: inline-block;
                min-width: 65px;
                min-height: 110px;
                padding: 25px 0;
                cursor: pointer;
                @media screen and (max-width: 480px) {
                    padding: 10px 0;
                    min-height: 60px;
                }
                svg{
                    width: 65px;
                    height: auto;
                    position:absolute;
                    right: 0;
                    -webkit-transition: opacity 0.3s ease-in-out;
                    -moz-transition: opacity 0.3s ease-in-out;
                    -o-transition: opacity 0.3s ease-in-out;
                    transition: opacity 0.3s ease-in-out;
                    z-index: 998;
                    @media screen and (max-width: 480px) {
                        width: 50px;
                        top: 8px;
                    }
                }
                .hover{
                    opacity: 0;
                    z-index: 999;
                }
                &.active{
                    .hover{
                        opacity: 1 !important;
                    }
                }
            }
            .menu-occ{
                background: $tertiary-color;
                display: none;
                width: 50%;
                position: fixed;
                top: 0;
                z-index: -1;
                transition: all .3s;
                height: 100vh;
                box-shadow: 0px 0px 11.04px 0.96px rgba(5, 0, 6, 0.38);
                .newsletter-occ{
                    display: none;
                }
                .close{
                    position: absolute;
                    top: 20px;
                    left: 45px;
                    display: inline-block;
                    min-width: 65px;
                    min-height: 110px;
                    padding: 25px 0;
                    cursor: pointer;
                    @media screen and (max-width: 480px) {
                        padding: 10px 0;
                        min-height: 60px;
                    }
                    svg{
                        width: 40px;
                        height: 40px;
                        position:absolute;
                        left: 0;
                        -webkit-transition: opacity 0.3s ease-in-out;
                        -moz-transition: opacity 0.3s ease-in-out;
                        -o-transition: opacity 0.3s ease-in-out;
                        transition: opacity 0.3s ease-in-out;
                        z-index: 998;
                    }
                    .hover{
                        opacity: 0;
                        z-index: 999;
                    }
                }
                .institucional{
                    padding-top: 130px;
                    padding-left: 55px;
                    padding-right: 10px;
                    text-align: right;
                    @media screen and (max-width: 1440px) {
                        padding-top: 30px;
                    }
                    @media screen and (max-width: $tb) {
                        text-align: left;
                        padding-left: 40px;
                        padding-top: 130px;
                    }
                }
                @media screen and (max-width: $sm) {
                    width: 75%;
                    right: 0;
                }
                ul#menu-principal{
                    position: relative;
                    >li.menu-item{
                        width: fit-content;
                        margin-left: 40%;
                        margin-right: auto;
                        @media screen and (max-width: $tb) {
                            width: 100%;
                            text-align: left;
                            margin-right: unset;
                            margin-left: unset;
                            position: relative;
                        }
                        &.menu-item-has-children{
                            @media screen and (max-width: $tb) {
                                &::before{
                                    content: "";
                                    display: inline-block;
                                    position: absolute;
                                    width: 100%;
                                    height: 2px;
                                    background-color: $primary-color;
                                    top: 60px;
                                    transition: all .2s linear;
                                }
                                &::after{
                                    content: "";
                                    display: inline-block;
                                    position: absolute;
                                    width: 10px;
                                    height: 25px;
                                    -webkit-clip-path: polygon(33% 0,100% 50%,33% 100%,0 100%,65% 50%,0 0);
                                    clip-path: polygon(33% 0,100% 50%,33% 100%,0 100%,65% 50%,0 0);
                                    background-color: $primary-color;
                                    right: 10px;
                                    top: 25px;
                                    transform: rotate(90deg);
                                    transition: all .2s linear;
                                }
                            }
                        }
                        > a{
                            margin-left: 15px;
                            transition: all .3s;
                            font-size: 25px;
                            line-height: 75px;
                            color: #222221;
                            font-weight: 400;
                            font-family: "Ubuntu";
                            text-align: right;
                            position: relative;
                            @media screen and (max-width: 1440px) {
                                line-height: 60px;
                            }
                            @media screen and (max-width: $tb) {
                                margin-left: 0px;
                                position: unset;
                            }
                            &:before{
                                content: "";
                                display: inline-block;
                                width: 11px;
                                height: 11px;
                                border-radius: 6px;
                                background-color: $primary-color;
                                position: absolute;
                                top: 40%;
                                right: -16px;
                                -webkit-transition: opacity 0.3s ease-in-out;
                                -moz-transition: opacity 0.3s ease-in-out;
                                -o-transition: opacity 0.3s ease-in-out;
                                transition: opacity 0.3s ease-in-out;
                                opacity: 0;
                                @media screen and (max-width: $tb) {
                                    display: none;
                                }
                            }
                        }
                        .sub-menu{
                            position: absolute;
                            left: 0px;
                            top: 50%;
                            transform: translateY(-50%);
                            -webkit-transition: opacity 0.3s ease-in-out;
                            -moz-transition: opacity 0.3s ease-in-out;
                            -o-transition: opacity 0.3s ease-in-out;
                            transition: opacity 0.3s ease-in-out;
                            opacity: 1;
                            width: 45%;
                            padding-right: 13%;
                            display: none;
                            min-height: 250px;
                            padding-top: 25px;
                            padding-bottom: 25px;
                            @media screen and (max-width: 1380px) {
                                width: 50%;
                                left: -30px;
                            }
                            @media screen and (max-width: $tb) {
                                position: relative;
                                left: unset;
                                top: unset;
                                transform: none;
                                width: 100%;
                                padding: 0;
                                min-height: unset;
                            }
                            li.menu-item{
                                padding: 7px 0px;
                                @media screen and (max-width: $tb) {
                                    &:not(:first-of-type){
                                        border-bottom: 1px solid $primary-color;
                                    }
                                }
                                a{
                                    font-size: 22px;
                                    line-height: 22px;
                                    color: #222221;
                                    font-weight: 400;
                                    font-style: italic;
                                    font-family: "Ubuntu";
                                    &:hover{
                                        color: $secondary-color;
                                    }
                                }
                                &:first-of-type{
                                    a{
                                        font-size: 30px;
                                        line-height: 36px;
                                        color: #d57831;
                                        font-weight: 500;
                                        font-family: "Ubuntu";
                                        @media screen and (max-width: $tb) {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        &:hover{
                            >a{
                                @media screen and (min-width: 769px) {
                                    color: $secondary-color;
                                    // &:before{
                                    //     opacity: 1;
                                    // }
                                }
                            }
                            .sub-menu{
                                -webkit-animation: fadeIn 1s normal forwards ease-in-out;
                                -moz-animation: fadeIn 1s normal forwards ease-in-out;
                                animation: fadeIn 1s normal forwards ease-in-out;
                                display: block;
                                @media screen and (max-width: $tb) {
                                    -webkit-animation: none;
                                    -moz-animation: none;
                                    animation: none;
                                    display: none;
                                }
                            }
                        }
                        &.active{
                            >a{
                                color: $secondary-color;
                            }
                            &::before{
                                background-color: $secondary-color;
                            }
                            &::after{
                                transform: rotate(-90deg);
                                background-color: $secondary-color;
                            }
                        }
                    }
                }
                &.active{
                    z-index: 999;
                    // -webkit-animation: fadeInMenuOpen 1s;
                    // animation: fadeInMenuOpen 1s;
                    display: block;
                }
                .social{
                    width: fit-content;
                    margin-left: 40%;
                    margin-right: auto;
                    padding-left: 45px;
                    padding-top: 20px;
                    padding-right: 10px;
                    text-align: right;
                    @media screen and (max-width: $tb) {
                        text-align: left;
                        padding-left: 55px;
                        width: 100%;
                        margin-left: unset;
                        margin-right: unset;
                    }
                    .sociais{
                        display: inline-block;
                        margin-right: 20px;
                        i{
                            color: $primary-color;
                            font-size: 28px;
                            transition: all .3s;
                        }
                        &:hover{
                            i{
                                color: $secondary-color;
                            }
                        }
                    }
                }
                .overlay{
                    width: 200vw;
                    height: 200vh;
                    z-index: -1;
                    right: 0;
                    top: 0;
                    opacity: 1;
                    position: fixed;
                    cursor: pointer;
                    transition: transform .5s;
                    background: rgb(248 248 248 / 50%);
                }
                .newsletter{
                    padding: 20px 0;
                    text-align: center;
                    .news{
                        cursor: pointer;
                        margin-left: 20%;
                        @media screen and (max-width: $tb) {
                            margin-left: 0%;
                        }
                        @media screen and (max-width: $sm) {
                            padding: 20px 15px;
                        }
                    }
                }
            }
        }
    }
}

.conditionalOpen {
    -webkit-animation: fadeInMenuOpen 1s normal forwards ease-in-out;
    -moz-animation: fadeInMenuOpen 1s normal forwards ease-in-out;
    animation: fadeInMenuOpen 1s normal forwards ease-in-out;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}
.conditionalClose {
    -webkit-animation: fadeInMenuClose 1s normal forwards ease-in-out;
    -moz-animation: fadeInMenuClose 1s normal forwards ease-in-out;
    animation: fadeInMenuClose 1s normal forwards ease-in-out;
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}

.floating{
    display: flex;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9999;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    transition: all .3s;
    background: $secondary-color;
    &:hover{
        background: $primary-color;
        filter: drop-shadow(0 8px 12px rgba(5,0,6,.38));
        i{
            color: $secondary-color;
        }
    }
    .sociais{
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
        i{
            color: white;
            font-size: 35px;
            transition: all .3s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover{
            i{
                color: $secondary-color;
            }
        }
    }
}

.tnp.tnp-subscription{
    form{
        max-width: 100%; 
        @media screen and (max-width: $dt) {
            max-width: 80%; 
            margin: auto;
        }
        @media screen and (max-width: $sm) {
            max-width: 90%; 
        }
        .tnp-field.tnp-field-button{
            text-align: right;
        }
        label{
            color: $secondary-color;
            font-size: 22px;
            line-height: 25px;
            font-weight: 700;
            vertical-align: middle;
            cursor: pointer;
            transition: all .3s;
            text-align: left;
        }
        select, input:not(.tnp-submit):not(.tnp-privacy){
            height: 40px;
            max-width: 100%;
            width: 100%;
            border-radius: 20px;
            filter: drop-shadow(-1.247px 5.869px 13.5px rgba(0,0,0,0.11));
            background-color: #f8f8f8;
            padding-left: 1em;
            font-size: 18px;
            color: #988a83;
            font-weight: 300;
            font-family: "Ubuntu";
            border: none;
            outline: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            border: none;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            align-self: center;
            margin-right: 3px;
            &:hover{
                filter: drop-shadow(-1.04px 4.891px 12px rgb(255 143 25 / 0.5));
            }
        }
        .tnp-privacy-field{
            a{
                color: $secondary-color;
                font-size: 22px;
                line-height: 25px;
                font-weight: 700;
                vertical-align: middle;
                cursor: pointer;
                transition: all .3s;
                text-align: left;
                vertical-align: text-bottom;
                &:hover{
                    color: $primary-color;
                }
            }
            .tnp-privacy{
                margin-right: 5px;
                width: 20px;
                height: 20px;
                vertical-align: middle;
            }
        }
        .tnp-submit{
            font-size: 21px;
            color: $secondary-color;
            font-weight: 300;
            font-family: "Ubuntu";
            border-radius: 20px;
            text-transform: uppercase;
            filter: drop-shadow(0px -6px 13.5px rgba(0,0,0,0.11));
            background-color: #ffffff;
            padding: 5px 40px !important;
            position: relative;
            display: inline-block;
            border: 2px solid transparent;
            transition: all .3s;
            cursor: pointer;
            @media screen and (max-width: $dt) {
                font-size: 18px;
                padding: 20px 35px;
            }
            @media screen and (max-width: $sm) {
                text-align: center;
            }
            &:hover{
                border-color: $secondary-color;
            }
        }
    }
}