/* Home
========================================================================== */
body.home{
    .main-header{
        display: none;
    }
    .table{
        width: 100%;
        display: table;
    }
    .main-footer{
        display: none;
    }
    #wrapper{
        padding: 0;
    }
    .floating{
        display: none;
    }
    .left, .right{
        .left, .right{
            transition: all 1.5s;
            cursor: pointer;
            @media (min-width: $sm) {
                &:not(.clickdir):not(.clickesq):hover{
                    filter: drop-shadow(17.989px 0.628px 72px rgba(0,0,0,0.5));
                    z-index: 9;
                }
            }
            .social{
                display: flex;
                flex-direction: row;
                justify-content: center;
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translateX(-50%);
                @media (max-width: $sm) {
                    display: none;
                }
                .sociais{
                    display: inline-block;
                    margin-right: 20px;
                    &:last-of-type{
                        margin-right: 0;
                    }
                    i{
                        color: white;
                        font-size: 28px;
                        transition: all .3s;
                    }
                    &:hover{
                        i{
                            color: $secondary-color;
                        }
                    }
                }
            }
            &.clickdir{
                filter: none !important;
                z-index: 9999;
                display: table;
                width: 100vw;
                position: fixed;
                right: 0;
                top: 0;
            }
            &.clickesq{
                filter: none !important;
                z-index: 9999;
                display: table;
                width: 100vw;
                position: fixed;
                left: 0;
                top: 0;
            }
        }
        .right{
            .social{
                width: 62px;
                height: 62px;
                border-radius: 50%;
                transition: all .3s;
                background: $secondary-color;
                &:hover{
                    background: $primary-color;
                    filter: drop-shadow(0 8px 12px rgba(5,0,6,.38));
                    i{
                        color: $secondary-color;
                    }
                }
                .sociais{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    i{
                        color: white;
                        font-size: 35px;
                        transition: all .3s;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &:hover{
                        i{
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
}
div.home{
    .centro{
        width: 100%;
        text-align: center;
    }
    h1{
        font-size: 2.76vw;
        line-height: 3.65vw;
        color: $white;
        font-weight: 700;
        font-family: "Ubuntu";
        text-align: center;
        display: block;
        padding: 0px 30px;
        width: 100%;
        @media (max-width: $sm) {
            font-size: 10vw;
            line-height: 16vw;
            padding: 0px 15px;
        }
    }
    .curriculo{
        font-size: 20px;
        color: $white;
        border-radius: 20px;
        border: 1px solid $white;
        position: relative;
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-top: 10px;
        cursor: pointer;
        transition: all .3s;
        i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 19px;
        }
        @media (max-width: $sm) {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            i{
                font-size: 30px;
            }
        }
        &.verde{
            &:hover{
                color: $primary-color;
                background-color: $white; 
            }
        }
        &.laranja{
            &:hover{
                color: $secondary-color;
                background-color: $white; 
            }
        }
    }
    &.left{
        width: 33.3%;
        background-color: #f08e1c;
        @media (max-width: $tb) {
            width: 25%;
        }
        @media (max-width: $sm) {
            width: 100vw;
            padding: 0;
        }
        .left{
            background-image: url('assets/images/card1.jpg');
            height: 100vh;
            vertical-align: bottom;
            padding-bottom: 50px;
            @media (max-width: $tb) {
                width: 100%;
                display: block;
                height: 50vh;
                padding-top: 90%;
            }
            @media (max-width: $sm) {
                width: 100%;
                display: block;
                height: unset;
                padding-top: unset;
                padding-bottom: 15px;
                background-size: cover;
            }
        }
        .right{
            background-image: url('assets/images/card2.jpg');
            height: 100vh;
            vertical-align: bottom;
            padding-bottom: 50px;
            @media (max-width: $tb) {
                width: 100%;
                display: table;
                height: 50vh;
                padding-top: 90%;
            }
            @media (max-width: $sm) {
                width: 100%;
                display: block;
                height: unset;
                padding-top: unset;
                padding-bottom: 15px;
                background-size: cover;
            }
        }
    }
    &.conteudo{
        width: 33.4%;
        display: inline-block;
        background-image: url('assets/images/card-centro.jpg');
        height: 100vh;
        vertical-align: bottom;
        padding-bottom: 50px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        @media (max-width: $tb) {
            width: 50%;
            margin-left: -1px;
        }
        @media (max-width: $sm) {
            width: 100vw;
            margin-left: 0px;
            padding: 0;
            display: table-header-group;
        }

        .logo-holder{
            height: 45vh;
            width: 100%;
            text-align: center;
            padding-top: 100px;
            img{
                padding: 0 10%;
            }
            @media (min-width: $dt) and (max-width: 1440px) {
                height: 37vh;
            }
        }
        #rev-home{
            height: 420px;
            display: inline-flex;
            @media (min-width: $dt) and (max-width: 1440px) {
                max-height: 400px;
            }
            @media (max-width: $tb) {
                max-width: 50vw;
                width: 100%;
            }
            @media (max-width: $sm) {
                padding: 0 15px 10px;
                max-width: 100vw;
            }
            .container2{
                max-height: 150px;
                margin-top: auto;
                padding: 0 15px;
                overflow: hidden;
                max-width: 33.4vw;
                position: relative;
                @media (max-width: $tb) {
                    max-width: unset;
                }
            }
            ul.lSPager.lSpg{
                position: absolute;
                right: 4%;
                top: 10%;
                transform: translateY(-50%) !important;
                margin: 0 !important;
                @media (max-width: $dt) {
                    right: 3%;
                }
                >li{
                    display: block;
                    padding: 2px;
                    a{
                        background: transparent;
                        border: 2px solid white;
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        filter: drop-shadow(0px 0px 1px black);
                    }
                    &.active{
                        a{
                            background: white;
                        }
                    }
                }
            }
            .article-container{
                text-align: center;
                article{
                    a{
                        position: relative;
                        display: inline-flex;
                        width: 565px;
                        max-width: 100%;
                        max-height: 100%;
                        margin-top: auto;
                        &:before{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: #ff8f19;
                            border-radius: 20px;
                        }
                        span{
                            width: 100%;
                            text-align: center;
                            padding: 15px 9.5%;
                            color: #23694d;
                            font-size: 35px;
                            font-weight: 600;
                            font-family: 'Ubuntu';
                            letter-spacing: 0px;
                            left: 0;
                            margin: auto;
                            position: relative;
                            @media (max-width: 1440px) {
                                font-size: 30px;
                            }
                            @media (max-width: $dt) {
                                font-size: 24px;
                            }
                        }
                    }
                    &.odd{
                        a{
                            span{
                                color: white;
                            }
                            &:before{
                                background: #23694d;
                            }
                        }
                    }
                    &.third{
                        a{
                            span{
                                color: #ff8f19;
                            }
                            &:before{
                                background: white;
                            }
                        }
                    }
                }
            }
        }
    }
    &.right{
        width: 33.3%;
        @media (max-width: $tb) {
            width: calc(25% + 1px);
        }
        @media (max-width: $sm) {
            width: 100vw;
            padding: 0;
            position: unset !important;
        }
        .left{
            background-image: url('assets/images/card3.jpg');
            height: 100vh;
            vertical-align: bottom;
            padding-bottom: 50px;
            @media (max-width: $tb) {
                width: 100%;
                display: table;
                height: 50vh;
                padding-top: 90%;
            }
            @media (max-width: $sm) {
                width: 100%;
                display: block;
                height: unset;
                padding-top: unset;
                padding-bottom: 15px;
                background-size: cover;
                position: unset !important;
            }
            .linguagem{
                display: flex;
                flex-direction: row;
                justify-content: center;
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translateX(-50%);
                a{
                    color: $primary-color;
                    font-size: 22px;
                    letter-spacing: 3px;
                    line-height: 32px;
                    font-weight: 700;
                    vertical-align: middle;
                    cursor: pointer;
                    transition: all .3s;
                    @media (max-width: $sm) {
                        color: $secondary-color;
                    }
                    &:hover{
                        color: $white;
                    }
                    &.active{
                        color: $white;
                    }
                    &:not(:last-of-type){
                        &::after{
                            content: '|';
                            color: $primary-color;
                            font-size: 22px;
                            letter-spacing: 3px;
                            line-height: 32px;
                            font-weight: 700;
                            vertical-align: top;
                            @media (max-width: $sm) {
                                color: $secondary-color;
                            }
                        }
                    }
                }
            }
        }
        .right{
            background-image: url('assets/images/card4.jpg');
            height: 100vh;
            vertical-align: bottom;
            padding-bottom: 50px;
            @media (max-width: $tb) {
                width: 100%;
                display: table;
                height: 50vh;
                padding-top: 90%;
            }
            @media (max-width: $sm) {
                width: 100%;
                display: table-caption;
                height: unset;
                padding-top: unset;
                padding-bottom: 15px;
                background-size: cover;
            }
        }
    }
}