section.al-container.quem-somos{
    padding: 50px 0;
    &.valores{
        .left{
            width: 44%;
            @media screen and (max-width: $tb) {
                width: 100%;
            }
        }
        .right{
            width: 55%;
            @media screen and (max-width: $tb) {
                width: 100%;
                padding-top: 0px;
            }
        }
        .cards-valores{
            column-count: 3;
            column-gap: 30px;
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width: $tb) {
                column-count: 2;  
            }
            @media screen and (max-width: $sm) {
                column-count: 1;
                column-gap: 0;
            }
            .card{
                filter: drop-shadow(-1.035px 3.864px 6.5px rgba(8,6,9,0.21));
                margin-bottom: 30px;
                width: calc(33.3% - 20px);
                padding: 40px 15px;
                position: relative;
                @media screen and (max-width: $tb) {
                    width: calc(50% - 15px);
                }
                @media screen and (max-width: $sm) {
                    display: block;
                    width: 100%;
                }
                &:before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    background-image: linear-gradient(rgb(58 124 94 / 1) 10%, rgb(58 124 94 / 0.9) 90%);
                }
                &:nth-child(2n){
                    &:before{
                        background-image: linear-gradient(rgb(213 133 52 / 1) 10%, rgb(213 133 52 / 0.9) 90%);
                    }
                }
                &.comprometimento{
                    background: url('assets/images/comprometimento.jpg') center center no-repeat;
                }
                &.responsabilidade{
                    background: url('assets/images/responsabilidade.jpg') center center no-repeat;
                }
                &.confianca{
                    background: url('assets/images/confianca.jpg') center center no-repeat;
                }
                &.lideranca{
                    background: url('assets/images/lideranca.jpg') center center no-repeat;
                }
                &.sucesso{
                    background: url('assets/images/sucesso.jpg') center center no-repeat;
                }
                &.empreendedorismo{
                    background: url('assets/images/empreendedorismo.jpg') center center no-repeat;
                }
                h1{
                    font-size: 30px;
                    line-height: 35px;
                    color: #ffffff;
                    font-weight: 500;
                    font-family: "Ubuntu";
                    text-transform: uppercase;
                    padding-bottom: 30px;
                    @media screen and (max-width: $dt) {
                        font-size: 26px;   
                    }
                }
                p{
                    font-size: 16px;
                    line-height: 24px;
                    color: #f8f8f8;
                    font-weight: 400;
                    font-family: "Ubuntu";
                    padding-bottom: 0;
                }
            }
        }
    }
    &.socios{
        height: 555px;
        overflow: hidden;
        text-align: center;
        @media screen and (max-width: $sm) {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
        h1{
            font-size: 45px;
            line-height: 50px;
            color: #ffffff;
            font-weight: 500;
            font-family: "Ubuntu";
            text-transform: uppercase;
            text-align: left;
            padding-bottom: 30px;
            @media screen and (max-width: $sm) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        .socio{
            display: inline-block;
            margin: 0px -60px;
            vertical-align: top;
            z-index: 1;
            transition: all .3s;
            position: relative;
            @media screen and (max-width: $dt) {
                margin: 0px -90px;
            }
            @media screen and (max-width: $tb) {
                margin: 0px -50px;
            }
            @media screen and (max-width: $sm) {
                margin: 0px;
                width: 100%;
                transition: all .8s;
            }
            img{
                height: 720px;
                filter: grayscale(1);
                transition: all .3s;
                @media screen and (max-width: $tb) {
                    height: unset;
                    max-height: 500px;
                }
            }
            .social{
                position: absolute;
                top: 52%;
                transform: translateY(-50%);
                width: 100%;
                text-align: center;
                background: linear-gradient(0deg, rgb(44 44 44 / 90%) 10%, transparent 90%);
                padding-bottom: 30px;
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.5s linear;
                z-index: 2;
                @media screen and (max-width: $tb) {
                    top: 75%;
                }
                @media screen and (max-width: $sm) {
                    padding-left: 20px;
                    padding-right: 20px;
                }
                h3{
                    font-size: 30px;
                    line-height: 35px;
                    color: #ffffff;
                    font-weight: 500;
                    font-family: "Ubuntu";
                    filter: drop-shadow(-1.035px 3.864px 6.5px rgba(8,6,9,0.47));
                    padding-bottom: 10px;
                }
                .sociais{
                    display: block;
                    text-align: center;
                    i{
                        color: $secondary-color;
                        font-size: 28px;
                        transition: all 0.3s;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
            &:last-of-type{
                img{
                    height: 610px;
                }
                .social{
                    top: 61%;
                    @media screen and (max-width: $tb) {
                        top: 75%;
                    }
                }
            }
            &:hover, &.lslide.active{
                z-index: 10;
                img{
                    filter: grayscale(0);
                    transform: scale(1.1);
                    @media screen and (max-width: $sm) {
                        transform: none;
                    }
                }
                .social{
                    visibility: visible;
                    opacity: 1;
                    z-index: 2;
                }
            }
        }
    }
    &.mentores{
        position: relative;
        height: 100%;
        header{
            padding-bottom: 20px;
            position: relative;
            width: 100%;
            .title{
                display: inline-block;
            }
            .next, .prev{
                display: inline-block;
                position: absolute;
                top: calc(50% - 38px);
                color: #547b60;
                border: 2px solid #547b60;
                transition: all .3s;
                width: 38px;
                height: 38px;
                border-radius: 50%;
                cursor: pointer;
                &:hover{
                    background-color: #547b60;
                    color: #f8f8f8;
                }
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 25px;
                }
                &.disabled{
                    color: #888888;
                    border-color: #888888;
                    width: 26px;
                    height: 26px;           
                    top: calc(50% - 28px);
                    &:hover{
                        background-color: #888888;
                        color: #f8f8f8;
                    }
                    i{
                        font-size: 14px;
                    }
                }
            }
            .next{
                right: 10px;
            }
            .prev{
                right: 55px;
            }
        }
        img{
            width: 204px;
            height: 225px;
            display: block;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            filter: grayscale(1);
            transition: all .3s;
        }
        h3{
            font-size: 18px;
            color: #4a4b4b;
            font-weight: 500;
            font-family: "Ubuntu";
            text-align: center;
            background: white;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            filter: drop-shadow(0px -7px 3.5px rgba(0, 0, 0, 0.08));
            background-color: #f0f0f0;
            border-bottom: 1px solid #9b9b9b;
            border-left: 1px solid #9b9b9b;
            border-right: 1px solid #9b9b9b;
            line-height: 60px;
            @media screen and (max-width: $tb) {
                font-size: 15px;
            }
        }
        .mentor{
            position: relative;
            &:hover{
                img{
                    filter: grayscale(0);
                    z-index: 1;
                }
                .sociais{
                    visibility: visible;
                    opacity: 1;
                    z-index: 2;
                }
            }
        }
        .sociais{
            width: 33px;
            height: 48px;
            background-image: url("assets/images/flag.png");
            position: absolute;
            left: 10px;
            top: 0;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
            z-index: -1;
            i{
                color: white;
                font-size: 20px;
                padding-top: 10px;
            }
        }
        .swiper-container{
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                right: 0;
                top: -50px;
                width: 359px;
                height: 800px;
                background-image: linear-gradient(270deg, #f8f8f8 5%, rgba(248, 248, 248, 0) 100%);
                transition: visibility 0s, opacity 0.5s linear;
                visibility: visible;
                opacity: 1;
                z-index: 2;
                @media screen and (max-width: $sm) {
                    width: 60px;
                    
                }
            }
            @media screen and (min-width: 769px) {
                &:hover{
                    &:after{
                        visibility: hidden;
                        opacity: 0;
                        z-index: -1;
                    }
                }
            }
            .swiper-button-next{
                visibility: hidden;
            }
            .swiper-button-prev{
                visibility: hidden;
            }
            .swiper-slide {
                flex-shrink: 0;
                width: 100%;
                height: 100%;
                position: relative;
                transition-property: transform;
                text-align: center;
                font-size: 18px;
                background: #fff;
                height: calc((100% - 30px) / 2);
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }
        }
    }
    &.parceiros{
        .parceiros-container{
            column-count: 4;
            column-gap: 30px;
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width: $tb) {
                column-count: 3;
            }
            @media screen and (max-width: $sm) {
                column-count: 2;
            }
            .parceiro{
                width: calc(25% - 23px);
                text-align: center; 
                filter: grayscale(1);
                transition: all .3s;
                height: 150px;
                display: flex;
                @media screen and (max-width: $tb) {
                    width: calc(33% - 20px);
                }
                @media screen and (max-width: $sm) {
                    width: calc(50% - 15px);
                }
                &:hover{
                    filter: grayscale(0);
                }
                a{
                    display: flex;
                    width: 100%;
                    height: 100%;
                }
                img{
                    margin: auto;
                }
            }
        }
    }
    &.timeline{
        header{
            padding-bottom: 20px;
            position: relative;
            width: 100%;
            .title{
                display: inline-block;
            }
            .next, .prev{
                display: inline-block;
                position: absolute;
                top: calc(50% - 38px);
                color: #547b60;
                border: 2px solid #547b60;
                transition: all .3s;
                width: 38px;
                height: 38px;
                border-radius: 50%;
                cursor: pointer;
                &:hover{
                    background-color: #547b60;
                    color: #f8f8f8;
                }
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 25px;
                }
                &.disabled{
                    color: #888888;
                    border-color: #888888;
                    width: 26px;
                    height: 26px;           
                    top: calc(50% - 28px);
                    &:hover{
                        background-color: #888888;
                        color: #f8f8f8;
                    }
                    i{
                        font-size: 14px;
                    }
                }
            }
            .next{
                right: 10px;
            }
            .prev{
                right: 55px;
            }
        }
        .swiper-container{
            overflow: visible;
            .swiper-button-next{
                visibility: hidden;
            }
            .swiper-button-prev{
                visibility: hidden;
            }
            .timeline-item{
                text-align: center;
                header{
                    border-bottom: 5px solid #d47532;
                    width: 100%;
                    position: relative;
                    .img-container{
                        width: 112px;
                        height: 112px;
                        border-radius: 56px;
                        filter: drop-shadow(-1.035px 3.864px 6.5px rgba(8,6,9,0.03));
                        background-color: #ffffff;
                        margin: 0 auto 30px auto;
                        position: relative;
                        img{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 75px;
                            height: auto;
                        }
                    }
                    &:after{
                        content: "";
                        width: 9px;
                        height: 9px;
                        border-radius: 5px;
                        background-color: #ffffff;
                        border: 1px solid #d57a31;
                        position: absolute;
                        bottom: -7px;
                    }
                }
                h3{
                    font-size: 28px;
                    line-height: 43px;
                    color: #19664e;
                    font-weight: 500;
                    font-style: italic;
                    font-family: "Ubuntu";
                    text-align: center;
                    padding: 10px 0;
                }
                p{
                    font-size: 19px;
                    line-height: 24px;
                    color: #494949;
                    font-weight: 400;
                    font-family: "Ubuntu";
                    text-align: center;
                    padding-bottom: 0;
                    strong{
                        color: #d47532;
                    }
                }
            }
        }
    }
    &.associados{
        .title{
            padding-bottom: 50px;
        }
        .associados-container{
            column-gap: 30px;
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width: $sm) {
                column-gap: 0;
            }
            .associado{
                filter: drop-shadow(0px -7px 3.5px rgba(0, 0, 0, 0.08));
                margin-bottom: 30px;
                width: calc(25% - 22.5px);
                position: relative;
                border: 1px solid #9b9b9b;
                border-radius: 10px;
                background-color: white;
                overflow: hidden;
                @media screen and (max-width: $tb) {
                    width: calc(50% - 15px);
                }
                @media screen and (max-width: $sm) {
                    display: block;
                    width: 100%;
                }
                // .left{
                //     height: 100%;
                //     position: relative;
                //     @media screen and (max-width: $tb) {
                //         height: unset;
                //     }
                    .img-container{
                        display: flex;
                        img{
                            width: 204px;
                            height: 225px;
                            display: block;
                            filter: grayscale(1);
                            transition: all .3s;
                            object-position: top;
                            margin: auto;
                        }
                    }
                    .sociais{
                        width: 33px;
                        height: 48px;
                        background-image: url("assets/images/flag.png");
                        position: absolute;
                        left: 10px;
                        top: 0;
                        visibility: hidden;
                        opacity: 0;
                        transition: visibility 0s, opacity 0.5s linear;
                        z-index: -1;
                        i{
                            color: white;
                            font-size: 20px;
                            padding-top: 10px;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    &:hover{
                        img{
                            filter: grayscale(0);
                            z-index: 1;
                        }
                        .sociais{
                            visibility: visible;
                            opacity: 1;
                            z-index: 2;
                        }
                    }
                // }
                // .right{
                //     height: 100%;
                //     background-color: #f0f0f0;
                //     position: relative;
                //     @media screen and (max-width: $tb) {
                //         height: unset;
                //     }
                    .content{
                        width: 100%;
                        // position: absolute;
                        // top: 50%;
                        // left: 50%;
                        // transform: translate(-50%, -50%);
                        padding: 20px;
                        background-color: #f0f0f0;
                        height: 50%;
                        @media screen and (max-width: $tb) {
                            position: relative;
                            top: unset;
                            left: unset;
                            transform: none;
                        }
                        h3{
                            font-size: 22px;
                            color: #4a4b4b;
                            font-weight: 500;
                            font-family: "Ubuntu";
                            text-align: center;
                            line-height: 40px;
                            padding-bottom: 15px;
                        }
                        p{
                            text-align: center;
                            padding-bottom: 0px;
                        }
                    }
                // }
                
            }
        }
    }
    &.slider{
        @media screen and (max-width: $tb) {
            margin-bottom: 100px;
            padding-bottom: 0px;
        }
        .left{
            padding-right: 4%;
            width: 33%;
            @media screen and (max-width: $tb) {
                width: 100%;
                padding-right: 0;
            }
            h1{
                font-size: 45px;
                line-height: 50px;
                color: #ffffff;
                font-weight: 500;
                font-family: "Ubuntu";
                text-transform: uppercase;
                padding-bottom: 30px;
            }
            p{
                font-size: 18px;
                line-height: 28px;
                color: #ffffff;
                font-weight: 400;
                font-family: "Ubuntu";
            }
        }
        .right{
            width: 66%;
            @media screen and (max-width: $tb) {
                width: 100%;
            }
            .galeria-container2{
                width: 100%;
                height: 450px;
                position: relative;
                text-align: left;
                @media screen and (max-width: $tb) {
                    width: 100%;
                }
                .img-container{
                    position: relative;
                    display: inline-block;
                    margin-left: 5px;
                    width: 55%;
                    @media screen and (max-width: $sm) {
                        width: 100%;
                        margin-left: 0px;
                        display: block;
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(112deg,transparent 55%, rgb(211 114 49 / 52%)  80%);
                        display: block;
                    }
                    img{
                        width: 100%;
                        height: auto;
                        display: inline-block;
                    }
                }
                .content{
                    display: inline-block;
                    width: 43%;
                    vertical-align: top;
                    padding-left: 4%;
                    padding-top: 5%;
                    @media screen and (max-width: $sm) {
                        width: 100%;
                        padding-left: 0%;
                        display: block;
                        padding-top: 0%;
                    }
                    h3{
                        font-size: 26px;
                        line-height: 50px;
                        color: #ffffff;
                        font-weight: 500;
                        font-family: "Ubuntu";
                        text-transform: uppercase;
                    }
                    p{
                        font-size: 18px;
                        line-height: 28px;
                        color: #ffffff;
                        font-weight: 400;
                        font-family: "Ubuntu";
                    }
                }
            }
            .lSSlideOuter{
                position: relative;
                @media screen and (max-width: $tb) {
                    margin: 25px 0;
                }
                .light-galeria{
                    @media screen and (max-width: $sm) {
                        height: 535px !important;
                    }
                }
                ul.lSPager.lSpg{
                    position: absolute;
                    bottom: 5px;
                    left: 73% !important;
                    top: 64% !important;
                    @media screen and (max-width: $sm) {
                        left: 50% !important;
                        transform: translateX(-50%) !important;
                        top: unset !important;
                        bottom: 10px !important;
                    }
                    li{
                        a{
                            background: transparent;
                            border: 1px solid white;
                        }
                        &.active{
                            a{
                                background: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.background.impar.socio{
    background-repeat: repeat;
}
.cinza{
    background-color: #dfe0e3;
}