section.al-container.portfolio{
    padding: 50px 0;
    .right{
        vertical-align: middle;
        text-align: right;
        padding-bottom: 50px;
        @media screen and (max-width: $tb) {
            text-align: left;
        }
        select{
            width: 307px;
            height: 50px;
            max-width: 100%;
            border-radius: 20px;
            filter: drop-shadow(-1.247px 5.869px 13.5px rgba(0,0,0,0.05));
            background-color: #f8f8f8;
            padding-left: 1em;
            font-size: 18px;
            color: #988a83;
            font-weight: 300;
            font-family: "Ubuntu";
            border: none;
            outline: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            background-image: url('assets/images/seta.png');
            background-repeat: no-repeat, repeat;
            background-position: right 1em top 50%, 0 0;
            background-size: .65em auto, 100%;
            border: none;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            text-transform: uppercase;
            &:hover{
                filter: drop-shadow(-1.04px 4.891px 12px rgb(255 143 25 / 0.5));
            }
        }
    }
    #portfolio{
        column-count: 4;
        column-gap: 30px;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        min-height: 250px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: $dt) {
            column-count: 3;
        }
        @media screen and (max-width: $tb) {
            column-count: 2;
        }
        @media screen and (max-width: $sm) {
            column-count: 1;
            column-gap: 0px;    
        }
        &:hover{
            .case{
                filter: grayscale(1) drop-shadow(-1.04px 4.891px 12px rgba(5,0,6,0.06));
            }
        }
        .case{
            width: calc(25% - 23px);
            text-align: center; 
            display: flex;
            border-radius: 5px;
            height: 250px;
            filter: drop-shadow(-1.04px 4.891px 12px rgba(5,0,6,0.06));
            background-color: #ffffff;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &:hover{
                filter: grayscale(0) drop-shadow(-1.04px 4.891px 12px rgb(35 105 77 / 0.8));
            }
            @media screen and (max-width: $dt) {
                width: calc(33% - 20px);
            }
            @media screen and (max-width: $tb) {
                width: calc(50% - 15px);
            }
            @media screen and (max-width: $sm) {
                width: 100%;
            }
            a{
                display: flex;
                width: 100%;
                img{
                    margin: auto;
                }
            }
        }
        .portOpen {
            -webkit-animation: portOpen 1s normal forwards ease-in-out;
            -moz-animation: portOpen 1s normal forwards ease-in-out;
            animation: portOpen 1s normal forwards ease-in-out;
            -webkit-transform-origin: 50% 0%;
            -moz-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        }
        .portClose {
            -webkit-animation: portClose 1s normal forwards ease-in-out;
            -moz-animation: portClose 1s normal forwards ease-in-out;
            animation: portClose 1s normal forwards ease-in-out;
            -webkit-transform-origin: 100% 0%;
            -moz-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        }
    }
}

@-webkit-keyframes portOpen {
    from { transform: translateX(-100vw) scaleX(0); }
      to { transform: translateX(0vw)  scaleX(1);  }
}
@keyframes portOpen {
    from { transform: translateX(-100vw) scaleX(0); }
      to { transform: translateX(0vw)  scaleX(1);  }
}
@-webkit-keyframes portClose {
    from { transform: translateX(0vw) scaleX(1); }
      to { transform: translateX(100vw)  scaleX(0);  }
}
@keyframes portClose {
    from { transform: translateX(0vw) scaleX(1); }
      to { transform: translateX(100vw)  scaleX(0);  }
}